.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

:root {
  --blue: #003C71;
  --gray: #999;
  --gray1: #333; }

body {
  font-family: Arial, Tahoma;
  font-weight: 400;
  font-size: 13px;
  background: #fbfbfb; }

.wrapper {
  width: 100%;
  min-height: 1000px;
  overflow: hidden; }

.topbar {
  width: 100%;
  height: 30px;
  padding: 8px 0; }
  .topbar .container {
    display: flex;
    justify-content: center; }
  .topbar .label {
    display: block;
    float: left;
    line-height: 14px;
    color: var(--gray); }
  .topbar li {
    padding: 0 5px;
    border-right: 1px solid #2658aa; }
  .topbar li:last-child {
    border-right: none; }
  .topbar li a {
    display: block;
    color: #2658aa;
    line-height: 14px;
    font-family: Arial; }
  .topbar li a:hover {
    text-decoration: underline; }

.navbar {
  width: 100%;
  height: 58px;
  background: var(--blue);
  padding: 0;
  border-bottom: 1px solid #051146;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 10; }
  .navbar .container {
    display: flex;
    height: 100%;
    align-items: center; }
  .navbar .sub-menu {
    display: none;
    width: 1000px;
    background: #e0e0e0;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 4px solid var(--blue);
    z-index: 10; }
    .navbar .sub-menu li {
      width: 33.3%;
      height: auto;
      border-right: 1px dotted #f5f4f4; }
    .navbar .sub-menu li a {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-bottom: 1px dotted #f5f4f4; }
    .navbar .sub-menu li a:after {
      content: "";
      display: block;
      clear: both; }
    .navbar .sub-menu span {
      color: #333;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: bold; }
    .navbar .sub-menu li i {
      display: block;
      width: 60px;
      height: 60px;
      margin-left: 0 !important;
      background: url("../images/icons.png") no-repeat 0 0; }
      .navbar .sub-menu li i.icon-tel {
        background-position: 0 0; }
      .navbar .sub-menu li i.icon-sim {
        background-position: 0 -540px; }
      .navbar .sub-menu li i.icon-game {
        background-position: 0 -67px; }
      .navbar .sub-menu li i.icon-visa {
        background-position: 0 -480px; }
      .navbar .sub-menu li i.icon-bill {
        background-position: 0 -240px; }
    .navbar .sub-menu li:hover {
      background: #cfcece; }
  .navbar .menu {
    align-items: center; }
    .navbar .menu > li {
      height: 100%; }
    .navbar .menu > li i {
      margin-left: 5px; }
    .navbar .menu > li > a:hover {
      background: #022a4e; }
    .navbar .menu > li > a {
      display: flex;
      padding: 18px 35px;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase; }
    .navbar .menu > li:hover .sub-menu {
      display: flex; }

.box-facebook {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 8px 8px 0;
  z-index: 9; }
  .box-facebook .g {
    display: block;
    text-align: center; }

.box-support {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; }
  .box-support .btn-support {
    display: flex;
    width: 70px;
    height: 55px;
    flex-direction: column;
    background: var(--blue); }
    .box-support .btn-support span {
      padding-top: 2px;
      color: #fff;
      font-size: 11px; }
  .box-support .icon-support {
    display: block;
    width: 20px;
    height: 21px;
    background: url("../images/icon-support.png") no-repeat; }
  .box-support .support-detail {
    width: 180px;
    display: none;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 6px 0 0 6px; }
    .box-support .support-detail .head {
      height: 25px;
      display: flex;
      align-items: center;
      background: var(--blue);
      border-radius: 6px 0 0 0; }
    .box-support .support-detail .close_support {
      color: #fff;
      padding-left: 10px; }
  .box-support .list-support {
    padding: 5px; }
    .box-support .list-support li {
      padding: 5px 0;
      border-bottom: 1px dotted #ccc; }
    .box-support .list-support li:last-child {
      border-bottom: none; }
    .box-support .list-support h4 {
      margin-bottom: 5px;
      font-size: 14px;
      color: var(--blue);
      font-weight: bold; }
    .box-support .list-support i {
      transform: rotate(90deg);
      margin-right: 3px; }
    .box-support .list-support a {
      color: var(--gray1); }
  .box-support.active .support-detail {
    display: block; }
  .box-support.active .btn-support {
    display: none; }

.brand a {
  display: block;
  width: 250px;
  height: 57px;
  background: url("../images/logo.png") no-repeat; }

.section-slider {
  height: auto;
  border-bottom: 1px solid #fff;
  background: #fff;
  position: relative; }
  .section-slider .container {
    position: relative; }
  .section-slider .flex-control-nav {
    display: flex;
    position: absolute;
    padding: 0;
    width: 100%;
    bottom: 0;
    justify-content: center; }
    .section-slider .flex-control-nav li {
      margin: 0 7px; }
    .section-slider .flex-control-nav li a {
      display: block;
      width: 16px;
      height: 16px;
      background: #fff;
      text-indent: -9999em;
      border-radius: 50%;
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
      cursor: pointer; }
    .section-slider .flex-control-nav li a.flex-active, .section-slider .flex-control-nav li a:hover {
      background: var(--blue);
      box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4); }
  .section-slider .flex-direction-nav {
    padding: 0; }
    .section-slider .flex-direction-nav a {
      display: block;
      width: 24px;
      height: 37px;
      text-indent: -9999em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      background: url("../images/arrow.png") no-repeat;
      opacity: 0;
      transition: all .3s ease; }
    .section-slider .flex-direction-nav a:hover {
      opacity: 1 !important; }
    .section-slider .flex-direction-nav .flex-next {
      right: -40px; }
    .section-slider .flex-direction-nav .flex-prev {
      left: -40px;
      transform: translateY(-50%) rotate(180deg); }
    .section-slider .flex-direction-nav .flex-prev:before, .section-slider .flex-direction-nav .flex-next:before {
      display: none;
      font-size: 40px;
      font-family: "Font Awesome 5 Brands"; }
    .section-slider .flex-direction-nav .flex-prev:before {
      content: "\f105"; }
    .section-slider .flex-direction-nav .flex-next:before {
      content: "\f105"; }
  .section-slider:hover .flex-direction-nav a {
    opacity: 0.7; }
  .section-slider:hover .flex-direction-nav .flex-prev {
    left: 40px; }
  .section-slider:hover .flex-direction-nav .flex-next {
    right: 40px; }
  .section-slider .news-slider {
    width: 210px;
    padding: 9px;
    position: absolute;
    right: 70px;
    top: 35px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 9; }
    .section-slider .news-slider .slider {
      padding: 5px 0;
      background: rgba(255, 255, 255, 0.95);
      min-height: 260px; }
    .section-slider .news-slider li {
      padding: 5px;
      border-bottom: 1px dotted #ccc; }
    .section-slider .news-slider a {
      display: block;
      padding-left: 20px;
      color: var(--gray1);
      line-height: 16px;
      font-size: 13px;
      background: url("../images/item-bullet.png") no-repeat 0 2px; }

.section-slider .flexslider {
  margin: 0 auto;
  max-width: 1360px;
  background: #fff;
  position: relative; }
  .section-slider .flexslider img {
    width: 100%; }

.home main .container {
  max-width: 980px; }

.category main .container {
  max-width: 1080px; }

main {
  padding: 40px 0;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15); }
  main .home-inner {
    margin-top: 40px; }

.card-item {
  width: 475px;
  margin: 0 7px 15px 7px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-bottom: none; }
  .card-item .card-header {
    align-items: center;
    height: 75px;
    margin: 1px 1px 0;
    padding: 0;
    background: #e0e0e0;
    position: relative; }
    .card-item .card-header .sale {
      display: block;
      width: 60px;
      height: 52px;
      padding-right: 8px;
      background: url("../images/item-sale1.png") no-repeat;
      position: absolute;
      right: 35px;
      top: -10px; }
      .card-item .card-header .sale span {
        display: block;
        color: #fff;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase; }
      .card-item .card-header .sale span.free {
        font-size: 11px; }
    .card-item .card-header .icon {
      display: flex;
      width: 60px;
      height: 60px;
      align-items: center;
      justify-content: center;
      margin-left: 7px; }
    .card-item .card-header i {
      background: url("../images/icons.png") no-repeat 0 0; }
    .card-item .card-header .icon-tel {
      background-position: -13px -6px;
      width: 33px;
      height: 47px; }
    .card-item .card-header .icon-game {
      background-position: -5px -67px;
      width: 48px;
      height: 43px; }
    .card-item .card-header .icon-bill {
      width: 37px;
      height: 43px;
      background-position: -12px -247px; }
    .card-item .card-header .icon-visa {
      width: 49px;
      height: 34px;
      background-position: -5px -492px; }
    .card-item .card-header .text p {
      font-size: 12px;
      text-transform: uppercase;
      color: #333;
      font-weight: bold; }
  .card-item .card-body {
    padding: 10px 5px 10px 25px;
    min-height: 170px; }
    .card-item .card-body li {
      width: 73px;
      height: 43px;
      border: 1px solid #ccc;
      border-radius: 4px; }
  .card-item .list-card {
    display: flex;
    flex-wrap: wrap;
    min-height: 110px; }
    .card-item .list-card.list-card-tel {
      width: 250px; }
    .card-item .list-card.list-card-visa {
      width: 75%; }
    .card-item .list-card.list-card-acc .icon {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .card-item .list-card.list-card-acc li:hover .icon {
      -webkit-filter: grayscale(1);
      filter: grayscale(1); }
    .card-item .list-card li {
      margin-bottom: 10px;
      margin-right: 10px; }
    .card-item .list-card .icon {
      width: 100%;
      height: 100%;
      display: block;
      background-position: 0 -41px !important;
      border-radius: 4px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1); }
    .card-item .list-card li:hover .icon {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .card-item .list-card .icon-viettel {
      background: url(../images/card/viettel.png) no-repeat; }
    .card-item .list-card .icon-mobiphone {
      background: url("../images/card/mobiphone.png") no-repeat; }
    .card-item .list-card .icon-vina {
      background: url("../images/card/vinaphone.png") no-repeat; }
    .card-item .list-card .icon-gmobi {
      background: url("../images/card/gmobile.png") no-repeat; }
    .card-item .list-card .icon-vnm {
      background: url("../images/card/vietnammobile.png") no-repeat; }
    .card-item .list-card .icon-sfone {
      background: url("../images/card/sphone.png") no-repeat; }
    .card-item .list-card .icon-vcoin {
      background: url("../images/card/vcoin.png") no-repeat; }
    .card-item .list-card .icon-vtc {
      background: url("../images/card/vtcgame.png") no-repeat; }
    .card-item .list-card .icon-scoin {
      background: url("../images/card/vtcscoin.png") no-repeat; }
    .card-item .list-card .icon-funtab {
      background: url("../images/card/funcard.png") no-repeat; }
    .card-item .list-card .icon-appota {
      background: url("../images/card/items-appota.jpg") no-repeat 0 0 !important; }
    .card-item .list-card .icon-gate {
      background: url("../images/card/gate.png") no-repeat; }
    .card-item .list-card .icon-zing {
      background: url("../images/card/zing.png") no-repeat; }
    .card-item .list-card .icon-ongame {
      background: url("../images/card/ongame.png") no-repeat; }
    .card-item .list-card .icon-shg {
      background: url("../images/card/sohagame.png") no-repeat; }
    .card-item .list-card .icon-garena {
      background: url("../images/card/gerena.png") no-repeat; }
    .card-item .list-card .icon-credit {
      background: url("../images/card/icon-TTOL-01.png") no-repeat 0 0 !important; }
    .card-item .list-card .icon-hc {
      background: url("../images/card/home-credit.png") no-repeat 0 0 !important; }
    .card-item .list-card .icon-doctor {
      background: url("../images/card/icon-TTOL-03.png") no-repeat 0 0 !important; }
    .card-item .list-card .icon-movie {
      background: url("../images/card/items-media.jpg") no-repeat 0 0 !important;
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .card-item .list-card .icon-visa, .card-item .list-card .code-game {
      background: url(../images/card/visacard.png) no-repeat;
      color: #fff;
      font-style: normal;
      font-size: 11px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 5px; }
    .card-item .list-card .code-game {
      background: url(../images/card/battle.png) no-repeat 0 0 !important;
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
      .card-item .list-card .code-game:hover {
        background: url(../images/card/battle.png) no-repeat 0 -41px !important; }
  .card-item .text-note p {
    font-size: 12px;
    color: #333;
    padding: 0 0 2px 17px;
    background: url(../images/item-bullet.png) no-repeat 0 3px; }

.breadcrumb {
  background: none;
  padding-left: 0; }
  .breadcrumb a {
    color: #333; }
  .breadcrumb a:hover {
    text-decoration: underline; }

.main-left h2.title {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0; }

.main-left .facebook {
  margin-top: 20px; }

.form_pay, .form_buy {
  border: 4px solid var(--blue);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.95); }
  .form_pay.fh, .form_buy.fh {
    height: 100%; }
  .form_pay .form-title, .form_buy .form-title {
    padding: 15px;
    color: #333;
    border-bottom: 1px solid var(--blue); }
    .form_pay .form-title h4, .form_buy .form-title h4 {
      font-size: 18px;
      font-weight: bold; }
  .form_pay .form-body, .form_buy .form-body {
    padding: 15px; }
    .form_pay .form-body .frm-group, .form_buy .form-body .frm-group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 15px; }
    .form_pay .form-body label, .form_buy .form-body label {
      display: block;
      width: 100px;
      margin-bottom: 0;
      font-size: 13px;
      color: #666; }
    .form_pay .form-body input[type="text"], .form_pay .form-body select, .form_pay .form-body input[type="number"], .form_pay .form-body input[type="email"], .form_buy .form-body input[type="text"], .form_buy .form-body select, .form_buy .form-body input[type="number"], .form_buy .form-body input[type="email"] {
      height: 30px;
      width: calc(100% - 100px);
      padding: 0 6px;
      border-radius: 3px;
      border: 1px solid #b1b1b1; }
    .form_pay .form-body input.full, .form_buy .form-body input.full {
      width: 100%;
      margin-top: 10px; }
  .form_pay .btn-submit, .form_buy .btn-submit {
    display: block;
    margin: 10px 0;
    width: auto !important;
    padding: 5px 15px !important;
    background: linear-gradient(#f56531, #d54b19);
    color: #fff;
    text-align: center;
    border: 1px solid #d54b19;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    line-height: 20px;
    cursor: pointer; }
    .form_pay .btn-submit:hover, .form_buy .btn-submit:hover {
      background: linear-gradient(#d54b19, #f56531); }
  .form_pay .multiple select, .form_pay .multiple input[type="email"], .form_buy .multiple select, .form_buy .multiple input[type="email"] {
    width: auto;
    min-width: 200px;
    height: 35px;
    margin-right: 10px; }
  .form_pay .multiple input[type="number"], .form_buy .multiple input[type="number"] {
    width: auto;
    min-width: 120px; }
  .form_pay .multiple .input_group, .form_buy .multiple .input_group {
    align-items: center; }
    .form_pay .multiple .input_group label, .form_buy .multiple .input_group label {
      width: auto;
      margin-right: 10px; }
  .form_pay .multiple input[type="email"], .form_buy .multiple input[type="email"] {
    min-width: 60%; }
  .form_pay .checkbox, .form_buy .checkbox {
    display: flex !important;
    align-items: center;
    width: auto !important;
    flex-wrap: nowrap;
    margin-left: 15px; }
    .form_pay .checkbox input, .form_buy .checkbox input {
      margin-left: 10px;
      width: 15px;
      height: 15px; }

.table_price {
  margin: 0 0 17px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #e4e4e4; }
  .table_price h2.title {
    font-size: 18px;
    color: #333;
    margin: 12px 0 12px 20px; }
  .table_price .logo-card {
    padding: 4px 2px;
    background: #e9e7e7; }
    .table_price .logo-card li {
      display: block;
      width: 72px;
      height: 42px;
      margin: 3px;
      border-radius: 4px;
      border: 1px solid #ccc; }
    .table_price .logo-card .icon {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 4px;
      background-position: 0 -41px !important;
      -webkit-filter: grayscale(1);
      filter: grayscale(1); }
    .table_price .logo-card .icon:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .table_price .logo-card .icon-viettel {
      background: url("../images/card/viettel.png") no-repeat; }
    .table_price .logo-card .icon-mobiphone {
      background: url("../images/card/mobiphone.png") no-repeat; }
    .table_price .logo-card .icon-vina {
      background: url("../images/card/vinaphone.png") no-repeat; }
    .table_price .logo-card .icon-vnm {
      background: url("../images/card/vietnammobile.png") no-repeat; }
    .table_price .logo-card .icon-sfone {
      background: url("../images/card/sphone.png") no-repeat; }
    .table_price .logo-card .icon-gmobi {
      background: url("../images/card/gmobile.png") no-repeat; }
  .table_price table {
    width: 100%; }
    .table_price table th {
      padding: 5px;
      font-size: 12px;
      font-weight: bold;
      color: #333;
      text-align: center; }
    .table_price table td {
      padding: 5px;
      text-align: center;
      color: #666; }
    .table_price table thead {
      background: #ccc; }
    .table_price table tbody tr {
      border-bottom: 1px solid #e9e7e7; }
    .table_price table tbody tr:last-child {
      border-bottom: none; }
    .table_price table tbody tr:nth-child(even) td {
      background: #f8f7f7; }
  .table_price .note p {
    font-size: 11px;
    color: var(--gray1);
    display: block;
    padding: 5px; }

.news-sidebar {
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #e4e4e4; }
  .news-sidebar li {
    padding: 3px 0 4px 20px;
    background: url(../images/item-bullet.png) no-repeat 0 8px; }
  .news-sidebar a {
    color: #333; }
  .news-sidebar a:hover {
    text-decoration: underline; }

.bg-mobile {
  background: url(../images/bg-mobile.jpg) no-repeat top center fixed #fff; }

.bg-mobilecard {
  background: url(../images/bg-mobilecard.jpg) no-repeat top center fixed #b1dffd; }

.buttons {
  border-top: 1px solid #f7f7f7;
  padding: 10px 0; }
  .buttons .btns {
    display: block;
    margin: 0 5px;
    padding: 5px 15px;
    background: linear-gradient(#f5f5f5, #ccc);
    color: #555;
    text-align: center;
    border: 1px solid #d6d5d5;
    border-radius: 2px;
    font-size: 12px; }
  .buttons .btns:hover {
    background: linear-gradient(#107cdc, #003C71);
    color: #fff; }

footer {
  width: 100%;
  min-height: 100px;
  padding: 12px 0; }
  footer .container {
    max-width: 980px;
    margin: 0 auto; }
  footer .slider-footer {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; }
    footer .slider-footer h4 {
      display: block;
      margin-right: 35px;
      float: left;
      font-size: 12px;
      font-weight: bold;
      color: #333;
      line-height: 37px; }
    footer .slider-footer .flex-control-nav {
      display: none; }
    footer .slider-footer .flexslider {
      margin-left: 125px; }
  footer .flex-direction-nav a {
    display: block;
    width: 7px;
    height: 11px;
    text-indent: -9999em;
    background: url("../images/nav-slider.png") no-repeat 0 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  footer .flex-direction-nav .flex-next {
    right: 0;
    transform: translateY(-50%) rotate(-180deg); }
  footer .flex-direction-nav .flex-prev {
    left: 125px; }
  footer .slides li {
    margin: 0 5px;
    width: 37px; }
  footer .slides li a {
    display: block;
    width: 37px;
    height: 37px;
    margin: 0 auto;
    border: 1px solid #d1d1d1;
    border-radius: 3px 3px 3px 3px;
    background-position: 0 0; }
  footer .slides li a:hover {
    background-position: 0 -40px !important;
    border-color: #222; }
  footer .slides li a.vietcombank {
    background: url("../images/logo/vietcombank.png") no-repeat; }
  footer .slides li a.techbk {
    background: url("../images/logo/techbk.png") no-repeat; }
  footer .slides li a.dongabk {
    background: url("../images/logo/dongabk.png") no-repeat; }
  footer .slides li a.vietinbk {
    background: url("../images/logo/vietinbk.png") no-repeat; }
  footer .slides li a.vibk {
    background: url("../images/logo/vibk.png") no-repeat; }
  footer .slides li a.shbk {
    background: url("../images/logo/shbk.png") no-repeat; }
  footer .slides li a.acbbk {
    background: url("../images/logo/acbbk.png") no-repeat; }
  footer .slides li a.sacombk {
    background: url("../images/logo/sacombk.png") no-repeat; }
  footer .slides li a.bidvbk {
    background: url("../images/logo/bidvbk.png") no-repeat; }
  footer .slides li a.agrbk {
    background: url("../images/logo/agrbk.png") no-repeat; }
  footer .slides li a.mbk {
    background: url("../images/logo/mbk.png") no-repeat; }
  footer .slides li a.exembank {
    background: url("../images/logo/exembank.png") no-repeat; }
  footer .slides li a.vpbk {
    background: url("../images/logo/vpbk.png") no-repeat; }
  footer .slides li a.seabk {
    background: url("../images/logo/seabk.png") no-repeat; }
  footer .slides li a.bacabk {
    background: url("../images/logo/bacabk.png") no-repeat; }
  footer .slides li a.maritbk {
    background: url("../images/logo/maritbk.png") no-repeat; }
  footer .list-service {
    margin-bottom: 6px; }
    footer .list-service a {
      font-weight: bold; }
  footer .info {
    padding: 15px 0;
    color: #999;
    font-size: 12px; }
    footer .info h4 {
      display: block;
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 14px; }
    footer .info a {
      color: #1E5AA5; }
    footer .info a:hover {
      color: #333; }
