* {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

button:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6, table, p, ul {
  margin: 0;
  padding: 0;
  font-size: inherit; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

a:focus {
  outline: none; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

input:focus {
  outline: none; }

[hidden] {
  display: none; }

.pr {
  position: relative; }

a, a:hover {
  text-decoration: none; }

li {
  list-style: none; }

@font-face {
  font-family: UTMCafeta;
  src: url(../font/UTMCafeta.ttf); }

@font-face {
  font-family: HelveticaVn-LtCn;
  src: url(../font/HelveticaVn-LtCn.ttf); }

.flex {
  display: flex;
  display: -webkit-flex; }

.flex_center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

:root {
  --greyish-brown: #4d4d4d;
  --black: #1a1a1a;
  --greyish: #b2b2b2;
  --barney: #d71b96;
  --white: #f2f2f2;
  --white-two: #f7f7f7;
  --white-three: #e5e5e5; }

body {
  display: block;
  width: 100%;
  font: 14px 'Quicksand', sans-serif;
  background: #fff; }

.wrapper {
  width: 100%;
  min-height: 1000px;
  overflow: hidden; }

/*header*/
header {
  background: #000; }

.bannerLink {
  width: 100%;
  height: 70px;
  background: #b0aa07;
  background-image: linear-gradient(87deg, #ffc001, #b2910b); }
  .bannerLink h4 {
    font: normal 38px UTMCafeta;
    text-transform: uppercase; }
  .bannerLink a {
    display: block;
    margin-left: 50px;
    padding: 8px 15px;
    background: #000;
    border-radius: 8px; }
  .bannerLink a span {
    color: #ffc001;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px; }

.logo {
  text-align: center;
  padding: 10px 0; }

.logo a {
  display: inline-block; }

.menu {
  align-items: center;
  -webkit-align-items: center; }
  .menu i {
    font-size: 40px;
    color: #000; }
  .menu .fa-plus {
    display: none; }
  .menu > li {
    position: relative;
    padding: 8px 0; }
  .menu li > a {
    display: block;
    padding: 0 30px;
    color: #000;
    font: 24px UTMCafeta;
    text-transform: uppercase;
    transition: 0.3s; }
  .menu a:hover, .menu a:hover i {
    color: #8c0707; }
  .menu > li:nth-child(1) span {
    display: none; }
  .menu .sub-menu {
    width: 220px;
    display: block;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    position: absolute;
    top: 50px;
    transform: translateY(20px);
    z-index: 0;
    transition: 0.5s; }
    .menu .sub-menu > li a {
      font-size: 18px; }
    .menu .sub-menu > li {
      padding: 10px 0;
      border-bottom: 1px solid #f7f7f7; }
    .menu .sub-menu > li:last-child {
      border-bottom: none; }
  .menu > li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

.navbar {
  padding: 0;
  justify-content: center;
  -webkit-justify-content: center;
  z-index: 9; }

.login {
  margin-left: 30px; }
  .login a {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    font: 24px UTMCafeta;
    text-transform: uppercase;
    color: #000; }
  .login a:hover {
    color: #8c0707; }
  .login a:hover i {
    color: #8c0707; }
  .login i {
    color: #000;
    margin-left: 5px;
    font-size: 20px; }

.toggle-menu {
  display: none; }

.close-menu {
  display: none; }

/*end*/
/*main*/
main {
  background: #eee; }
  main .container {
    width: 1024px; }
  main h2 {
    display: block;
    padding-top: 10px;
    font: 25px UTMCafeta;
    color: #2e2d2d;
    text-transform: uppercase; }

.slider-home.mobile {
  display: none; }

.slider-home img {
  max-width: 100%; }

.table_price {
  display: block;
  margin: 5px 0;
  padding: 10px;
  background: #fff; }
  .table_price .list-item {
    margin: 0 -15px 0 -15px;
    padding-top: 25px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
  .table_price img {
    max-width: 90px;
    display: block;
    margin: 0 auto; }
  .table_price li {
    width: 12.5%;
    text-align: center;
    min-height: 190px; }
  .table_price li span {
    display: block;
    font-size: 18px; }
  .table_price .name {
    padding: 5px 0;
    color: #7e7e7e;
    line-height: 20px;
    font-family: Dosis, sans-serif; }
  .table_price .price {
    color: #1b1b1b;
    line-height: 30px;
    font: 25px UTMCafeta; }

.blog {
  padding: 0 10px 20px;
  background: #fff;
  margin-bottom: 5px; }
  .blog h2 a {
    color: #2e2d2d; }
  .blog .post > div {
    padding: 0; }

.post {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid #eee; }
  .post .thumb {
    display: block;
    overflow: hidden; }
    .post .thumb img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1.45s; }
    .post .thumb:hover img {
      transform: scale(1.1); }
  .post .content {
    padding-left: 10px !important; }
  .post h3 a {
    display: block;
    margin-bottom: 10px;
    color: #596723;
    font: 22px UTMCafeta;
    text-transform: uppercase; }
  .post h3 a:hover {
    color: #c00; }
  .post p.des {
    font-size: 15px;
    line-height: 20px; }

.head {
  padding: 20px 0;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center; }
  .head select {
    width: 129px;
    height: 30px;
    text-align: center;
    border: 1px solid #927ea6;
    text-align-last: center; }

.fashion_hair {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-top: 10px;
  background: #fff;
  margin-bottom: 5px; }
  .fashion_hair h2 {
    margin-bottom: 20px;
    padding-left: 10px;
    flex-basis: 100%;
    -webkit-flex-basis: 100%; }
  .fashion_hair .slider_style_hair, .fashion_hair .slider_customer {
    width: 86%;
    margin: 0 auto; }
  .fashion_hair .item-slide a {
    display: block;
    position: relative;
    width: 100%;
    max-height: 191px;
    overflow: hidden; }
  .fashion_hair .item-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .fashion_hair .item-slide p {
    display: block;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 22px; }
  .fashion_hair .item-slide span.text {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 0.45s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 16px; }
  .fashion_hair .slick-arrow {
    display: block;
    width: 22px;
    height: 36px;
    text-indent: -9999em;
    border: none;
    background: url("../images/next1.png") no-repeat;
    background-size: 22px 36px;
    position: absolute;
    top: 90px;
    cursor: pointer; }
  .fashion_hair .slick-prev {
    left: -35px;
    transform: rotate(180deg); }
  .fashion_hair .slick-next {
    right: -35px; }
  .fashion_hair .slider_customer .item-slide {
    padding: 0 5px; }
    .fashion_hair .slider_customer .item-slide a:before {
      content: "";
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.45s; }
    .fashion_hair .slider_customer .item-slide a:hover:before, .fashion_hair .slider_customer .item-slide a:hover span.text {
      opacity: 1;
      visibility: visible;
      transform: scale(1); }
    .fashion_hair .slider_customer .item-slide h4 {
      display: block;
      margin-top: 10px;
      text-align: center;
      font-weight: 500;
      font-size: 13px; }
    .fashion_hair .slider_customer .item-slide p {
      padding-top: 2px;
      font-size: 13px; }

.video {
  margin-bottom: 5px;
  background: #fff;
  padding: 0 10px 30px; }
  .video h2 {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 0; }
  .video .list-video {
    margin: 0 -5px 0 -5px; }
    .video .list-video a {
      display: block;
      position: relative; }
    .video .list-video img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .video .list-video .icon_play {
      width: 40px;
      height: 40px;
      display: block;
      background: url("../images/play.png") no-repeat;
      background-size: 40px 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.4s linear;
      z-index: 9; }
    .video .list-video .item-video:hover img {
      opacity: 0.8; }
    .video .list-video .item-video img {
      padding: 0 5px; }
    .video .list-video .item-video:hover .icon_play {
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      opacity: 1; }
    .video .list-video article {
      display: block;
      text-align: center;
      color: #2e2d2d; }
      .video .list-video article h4 {
        display: block;
        padding: 0 10px;
        font-weight: bold;
        font: 22px UTMCafeta;
        padding-top: 10px;
        text-transform: uppercase;
        line-height: 26px; }
      .video .list-video article p {
        margin-top: 5px;
        font-size: 16px; }
  .video .slick-arrow {
    display: block;
    width: 28px;
    height: 46px;
    background: url("../images/next1.png") no-repeat;
    top: 60px; }

.hair {
  display: block;
  background: #ffff;
  margin-bottom: 5px;
  padding: 10px; }
  .hair .slider-hair {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0 20px 0; }
    .hair .slider-hair .item {
      padding: 0 5px; }
    .hair .slider-hair .item {
      text-align: center; }
    .hair .slider-hair h4 {
      display: block;
      margin-top: 10px;
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 27px; }
    .hair .slider-hair p {
      font-size: 15px;
      margin-top: 2px; }
    .hair .slider-hair img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .hair .slick-arrow {
    display: bock;
    width: 22px;
    height: 37px;
    background: url("../images/next1.png") no-repeat;
    background-size: 22px 37px;
    top: 90px; }
  .hair .slick-next {
    right: -45px; }
  .hair .slick-prev {
    left: -45px; }

.camket {
  background: #fff;
  padding: 10px 0; }
  .camket h2 {
    padding-left: 10px; }
  .camket > div {
    padding: 0 5px; }
  .camket .box-tab {
    display: block;
    margin-top: 30px;
    border: 1px solid #dfdfdf; }
  .camket .content_tab_day {
    padding: 25px 15px;
    background: #eae9e9;
    border: 1px solid #dfdfdf; }
    .camket .content_tab_day p {
      color: #2a2a2a;
      line-height: 22px;
      font-size: 16px; }
  .camket .col-right .box-tab {
    border: none; }
  .camket .content_tab_store {
    height: 277px;
    border: 1px solid #dfdfdf;
    border-top: none; }
  .camket .list-store {
    padding: 10px;
    height: 100%;
    overflow: auto; }
    .camket .list-store li {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      padding: 10px 0; }
    .camket .list-store .num {
      width: 8.3%;
      padding: 5px;
      font: 25px UTMCafeta;
      color: #2e2d2d;
      text-align: center; }
    .camket .list-store .name, .camket .list-store .hotline {
      width: 41.6%; }
    .camket .list-store .name {
      font: 18px HelveticaVn-LtCn, sans-serif;
      line-height: 22px; }
    .camket .list-store .hotline {
      width: 161px;
      height: 37px;
      display: block;
      padding-left: 45px;
      background: url("../images/btn-phone-yellow.png") no-repeat;
      background-size: 161px 37px;
      margin-left: 10px;
      font: 22px UTMCafeta, sans-serif;
      line-height: 37px;
      color: #000; }

.tab_day li {
  width: 25%;
  background: #fff;
  padding: 15px 0;
  min-height: 180px;
  text-align: center;
  cursor: pointer; }

.tab_day li.active {
  background: #eae9e9; }
  .tab_day li.active .cricle {
    background: #000;
    color: #fff; }

.tab_day .cricle {
  width: 100px;
  height: 100px;
  margin: 0 auto 5px;
  border-radius: 50%;
  border: 1px solid #525252;
  color: #000;
  font: 30px HelveticaVn-LtCn;
  line-height: 32px;
  text-align: center; }

.tab_day span {
  font: 18px HelveticaVn-LtCn, sans-serif;
  line-height: 22px; }

.tab_store li {
  width: 50%;
  height: 46px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  border-top: none;
  border-right: none; }

.tab_store li a {
  display: block;
  color: #8e8e8e;
  font: 22px UTMCafeta;
  text-align: center;
  line-height: 46px; }

.tab_store li:nth-child(1) {
  border-right: 1px solid #dfdfdf; }

.tab_store li.active {
  border-left: 1px solid #dfdfdf;
  border-bottom: none;
  border-top: 1px solid #dfdfdf; }
  .tab_store li.active a {
    color: #0c0d0d; }

.view-more {
  display: block;
  padding: 15px 0;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  text-align: center; }
  .view-more a {
    color: #000; }
  .view-more i {
    display: block;
    margin-top: 5px;
    font-size: 26px;
    color: #808080; }

.slick-arrow {
  border: none;
  position: absolute;
  text-indent: -9999em;
  z-index: 9;
  cursor: pointer; }

.slick-next {
  right: 10px; }

.slick-prev {
  left: 10px;
  transform: rotate(180deg); }

/*end*/
@media (max-width: 1600px) {
  .bannerLink {
    height: 50px; }
    .bannerLink h4 {
      font-size: 30px; }
    .bannerLink a {
      padding: 6px 12px; }
    .bannerLink a span {
      font-size: 20px; } }

@media (min-width: 320px) and (max-width: 768px) {
  .bannerLink {
    height: 40px; }
    .bannerLink h4 {
      font-size: 18px; }
    .bannerLink a {
      margin-left: 20px;
      padding: 5px; }
    .bannerLink a span {
      font-size: 14px; }
  .logo {
    padding: 7px 0; }
    .logo img {
      max-width: 90px; }
  main h2 {
    font-size: 21px;
    padding-top: 0; }
  .table_price {
    margin-top: 0; }
    .table_price .list-item {
      padding-top: 10px; }
    .table_price li {
      width: 25%;
      margin-bottom: 6px;
      min-height: 110px; }
    .table_price img {
      max-width: 60px; }
    .table_price li span {
      font-size: 15px; }
    .table_price .name {
      padding: 2px 0;
      line-height: 18px; }
    .table_price .price {
      font-size: 18px;
      line-height: 22px; }
  .post p.des {
    display: none; }
  .post h3 a {
    font: 14px tahoma, sans-serif;
    font-weight: 500;
    text-transform: none;
    line-height: 20px; }
  .blog .head {
    padding: 10px 0; }
  .fashion_hair .slider_style_hair {
    margin-bottom: 30px; }
  .fashion_hair .slider_style_hair, .fashion_hair .slider_customer {
    width: 100%; }
  .fashion_hair .slick-arrow {
    z-index: 9;
    top: 40%; }
  .fashion_hair .slick-next {
    right: 5px; }
  .fashion_hair .slick-prev {
    left: 5px; }
  .fashion_hair .slider_customer .slick-next {
    right: 10px; }
  .fashion_hair .slider_customer .slick-prev {
    left: 10px; }
  .fashion_hair .slider_customer .item-slide h4 {
    line-height: 18px; }
  .col-xs-5 {
    width: 41.66666667%; }
  .col-xs-7 {
    width: 58.33333333%; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .logo img {
    max-width: 100px; } }

@media (min-width: 320px) and (max-width: 1024px) {
  /*header*/
  .toggle-menu {
    border: none;
    background: 0 0;
    margin-left: 10px;
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; }
    .toggle-menu span, .toggle-menu span:before, .toggle-menu span:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 3px;
      background: #fff;
      transition-property: transform;
      top: auto;
      bottom: 0; }
    .toggle-menu span:before {
      content: "";
      display: block;
      top: -10px;
      transition-timing-function: ease;
      transition-duration: .15s; }
    .toggle-menu span:after {
      content: "";
      display: block;
      top: -20px;
      bottom: -10px;
      transition-timing-function: ease;
      transition-duration: .15s; }
  .navbar {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 0;
    position: absolute;
    width: 60%;
    background: #fff;
    top: 0;
    right: -60%;
    transition: 0.6s; }
  .navbar.active {
    right: 0; }
  .menu {
    display: block;
    width: 100%; }
    .menu .fa-plus {
      display: block;
      font-size: 14px;
      margin: 0 5px 0 -17px; }
    .menu > li {
      padding: 10px;
      margin: 0 5px;
      border-bottom: 1px solid #e0e0e0; }
    .menu > li a {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      font-size: 20px;
      padding: 0 10px; }
    .menu li:nth-child(1) i {
      display: none; }
    .menu li:nth-child(1) span {
      display: block; }
    .menu .sub-menu {
      width: 100%;
      display: none;
      transform: translateY(0);
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      margin-left: 10px; }
    .menu li.active .sub-menu {
      display: block; }
  .login {
    width: 100%;
    margin-left: 5px;
    padding: 10px; }
    .login a {
      font-size: 20px;
      padding-left: 10px; }
  .logo {
    padding-left: 20px;
    text-align: left; }
  .close-menu {
    width: 100%;
    height: 69px;
    display: block;
    background: #3d3d3d;
    position: relative; }
    .close-menu img {
      max-width: 25px; }
    .close-menu a {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px; }
  /*end*/
  /*main*/
  .slider-home.pc {
    display: none; }
  .slider-home.mobile {
    display: block; }
  main .container {
    width: 100%;
    padding: 0; }
  /*end*/ }

.list-store::-webkit-scrollbar {
  width: 5px;
  border-radius: 0 4px 4px 0; }

.list-store::-webkit-scrollbar-track {
  background: #f1f1f1; }

.list-store::-webkit-scrollbar-thumb {
  background: #888; }

.list-store::-webkit-scrollbar-thumb:hover {
  background: #555; }

/*slick js*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*end*/
