@mixin block($display,$width,$height){
  display: $display;
  width: $width;
  height: $height;
}

.flex{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.flex-center{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

:root{
  --blue: #003C71;
  --gray: #999;
  --gray1: #333;
}

body{
  font-family: Arial, Tahoma;
  font-weight: 400;
  font-size: 13px;
  background: #efefef;
}
.wrapper{
  width: 100%;
  min-height: 1000px;
  overflow: hidden;
}
// 1.header
.navbar-toggle{display: none;}
.topbar{
  width: 100%;
  height: 30px;
  padding: 8px 0;
  .container{display: flex; justify-content: center;}
  .label{display: block; float: left; line-height: 14px; color: var(--gray);}
  li{padding: 0 5px; border-right: 1px solid #2658aa;}
  li:last-child{border-right: none;}
  li a{display: block; color: #2658aa; line-height: 14px; font-family: Arial;}
  li a:hover{text-decoration: underline;}
}
.navbar{
  width: 100%;
  height: 58px;
  background: var(--blue);
  padding: 0;
  border-bottom: 1px solid #051146;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  z-index: 10;
  .container{display: flex; height: 100%; align-items: center;}
  .sub-menu{
    display: none;
    width: 1000px;
    background: #e0e0e0;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 4px solid var(--blue);
    z-index: 10;
    li{width: 33.3%; height: auto; border-right: 1px dotted #f5f4f4;}
    li a{display: flex; align-items: center; padding: 10px 15px; border-bottom: 1px dotted #f5f4f4;}
    li a:after{content: ""; display: block; clear: both;}
    span{color: #333; font-size: 12px; line-height: 18px; text-transform: uppercase; font-weight: bold;}
    li i{
      @include block(block,60px,60px);
      margin-left: 0 !important; margin-right: 10px; background: url("../images/icons.png") no-repeat 0 0;
      &.icon-tel{background-position: 0 0;}
      &.icon-sim{background-position: 0 -540px;}
      &.icon-game{background-position: 0 -67px;}
      &.icon-visa{background-position: 0 -480px;}
      &.icon-bill{background-position: 0 -240px;}
    }
    li:hover{background: #cfcece;}
  }
  .menu{
    align-items: center;
    > li{height: 100%;}
    > li i{margin-left: 5px;}
    > li > a:hover{background: #022a4e;}
    > li > a{display: flex; padding: 18px 35px; font-size: 14px; font-weight: 700; color: #fff; text-transform: uppercase;}
    > li:hover .sub-menu{display: flex;}
  }
}
.box-social{
  background: rgba(0,0,0,0.4);
  padding: 10px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 8px 8px 0;
  z-index: 9;
  .g{display: block; text-align: center;}
}
.box-support{
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  .btn-support{
    @include block(flex,70px,55px); flex-direction: column; background: var(--blue);
    span{padding-top: 2px; color: #fff; font-size: 11px;}
  }
  .icon-support{@include block(block,20px,21px); background: url("../images/icon-support.png") no-repeat;}
  .support-detail{
    width: 180px; display: none; background: rgba(255,255,255,0.95);
    border-radius: 6px 0 0 6px;
    .head{height: 25px; display: flex; align-items: center; background: var(--blue); border-radius: 6px 0 0 0;}
    .close_support{color: #fff; padding-left: 10px;}
  }
  .list-support{
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    li{padding: 5px 0; border-bottom: 1px dotted #ccc;}
    li:last-child{border-bottom: none;}
    h4{margin-bottom: 5px; font-size: 14px; color: var(--blue); font-weight: bold;}
    i{transform: rotate(90deg); margin-right: 3px;}
    a{color: var(--gray1);}
  }
  &.active{
    .support-detail{display: block;}
    .btn-support{display: none;}
  }
}
.brand a{
  @include block(block,250px,57px); background: url("../images/logo.png") no-repeat;
}

// 2.slider
.section-slider{
  height: auto;
  border-bottom: 1px solid #fff;
  background: #fff;
  position: relative;
  .container{position: relative;}
  .flex-control-nav{
    display: flex;
    position: absolute;
    padding: 0;
    width: 100%;
    bottom: 0;
    justify-content: center;
    li{margin: 0 7px;}
    li a{@include block(block,16px,16px); background: #fff; text-indent: -9999em; border-radius: 50%; box-shadow: inset 2px 2px 2px rgba(0,0,0,0.3); cursor: pointer;}
    li a.flex-active,li a:hover{background: var(--blue); box-shadow: inset 2px 2px 2px rgba(255,255,255,0.4);}
  }
  .flex-direction-nav{
     padding: 0;
    a{
      display: block; width: 24px; height: 37px; text-indent: -9999em;
      position: absolute; top: 50%; transform: translateY(-50%); z-index: 3;
      background: url("../images/arrow.png") no-repeat;
      opacity: 0;
      transition: all .3s ease;
    }
    a:hover{opacity: 1 !important;}
    .flex-next{right: -40px;}
    .flex-prev{left: -40px; transform: translateY(-50%) rotate(180deg);}
    .flex-prev:before,.flex-next:before{
     display: none; font-size: 40px; font-family: "Font Awesome 5 Brands";
    }
    .flex-prev:before{content: "\f105"}
    .flex-next:before{content: "\f105"}
  }
  &:hover{
    .flex-direction-nav{
      a{opacity: 0.7;}
      .flex-prev{left: 40px;}
      .flex-next{right: 40px;}
    }
  }
  .news-slider{
    width: 210px;
    padding: 9px;
    position: absolute;
    right: 70px;
    top: 35px;
    background: rgba(0,0,0,0.3);;
    border-radius: 8px;
    z-index: 9;
    .slider{padding: 5px 0; background: rgba(255,255,255,0.95);  min-height: 260px;}
    li{padding: 5px; border-bottom: 1px dotted #ccc;}
    a{display: block; padding-left: 20px; color: var(--gray1); line-height: 16px; font-size: 13px; background: url("../images/item-bullet.png") no-repeat 0 2px;}
    a:hover{color: #c00;}
  }
}
.section-slider .flexslider{
  margin: 0 auto;
  padding: 1px 2px 2px;
  max-width: 1360px;
  background: #fff;
  border: 1px solid #e2e0e0;
  position: relative;
  img{width: 100%; border-radius: 2px;}
}

// 3.main
.home main .container{max-width: 980px;}
.category main .container{max-width: 1080px;}
main{
  padding: 40px 0;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
  .home-inner{margin-top: 40px;}
}

// 3.1 card item
.card-item{
  width: 475px;
  margin: 0 7px 15px 7px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-bottom: none;
  .card-header{
    align-items: center;
    height: 75px;
    margin: 1px 1px 0;
    padding: 0;
    background: #e0e0e0;
    position: relative;
    .sale{
      @include block(block,60px,52px); padding-right: 8px; background: url("../images/item-sale1.png") no-repeat;
      position: absolute;
      right: 35px;
      top: -10px;
      span{
        display: block;
        color: #fff;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
      }
      span.free{font-size: 11px;}
    }
    .icon{@include block(flex,60px,60px); align-items: center; justify-content: center; margin-left: 7px;}
    i{background: url("../images/icons.png") no-repeat 0 0;}
    .icon-tel{background-position: -13px -6px; width: 33px; height: 47px;}
    .icon-game{background-position: -5px -67px; width: 48px; height: 43px;}
    .icon-bill{width: 37px; height: 43px; background-position: -12px -247px;}
    .icon-visa{width: 49px; height: 34px; background-position: -5px -492px;}
    .text p{font-size: 12px; text-transform: uppercase; color: #333; font-weight: bold;}
  }
  .card-body{
    padding: 10px 5px 10px 25px;
    min-height: 170px;
    li{width: 73px; height: 43px; border: 1px solid #ccc; border-radius: 4px;}
  }
  .list-card{
    display: flex;
    flex-wrap: wrap;
    min-height: 110px;
    &.list-card-tel{width: 250px;}
    &.list-card-visa{width: 75%;}
    &.list-card-acc{
      .icon{-webkit-filter: grayscale(0); filter: grayscale(0);}
      li:hover .icon{-webkit-filter: grayscale(1); filter: grayscale(1);}
    }
    li{margin-bottom: 10px; margin-right: 10px;}
    .icon{width: 100%; height: 100%; display: block; background-position: 0 -41px !important; border-radius: 4px; -webkit-filter: grayscale(1); filter: grayscale(1);}
    li:hover .icon{-webkit-filter: grayscale(0); filter: grayscale(0);}
    .icon-viettel{background: url(../images/card/viettel.png) no-repeat;}
    .icon-mobiphone{background: url("../images/card/mobiphone.png") no-repeat;}
    .icon-vina{background: url("../images/card/vinaphone.png") no-repeat;}
    .icon-gmobi{background: url("../images/card/gmobile.png") no-repeat;}
    .icon-vnm{background: url("../images/card/vietnammobile.png") no-repeat;}
    .icon-sfone{background: url("../images/card/sphone.png") no-repeat;}
    .icon-vcoin{background: url("../images/card/vcoin.png") no-repeat;}

    .icon-vtc{background: url("../images/card/vtcgame.png") no-repeat;}
    .icon-scoin{background: url("../images/card/vtcscoin.png") no-repeat;}
    .icon-funtab{background: url("../images/card/funcard.png") no-repeat;}
    .icon-appota{background: url("../images/card/items-appota.jpg") no-repeat 0 0 !important;}
    .icon-gate{background: url("../images/card/gate.png") no-repeat;}
    .icon-zing{background: url("../images/card/zing.png") no-repeat;}
    .icon-ongame{background: url("../images/card/ongame.png") no-repeat;}
    .icon-shg{background: url("../images/card/sohagame.png") no-repeat;}
    .icon-garena{background: url("../images/card/gerena.png") no-repeat;}
    .icon-credit{background: url("../images/card/icon-TTOL-01.png") no-repeat 0 0 !important;}
    .icon-hc{background: url("../images/card/home-credit.png") no-repeat 0 0 !important;}
    .icon-doctor{background: url("../images/card/icon-TTOL-03.png") no-repeat 0 0 !important;}
    .icon-movie{background: url("../images/card/items-media.jpg") no-repeat 0 0 !important; -webkit-filter: grayscale(0); filter: grayscale(0);}
    .icon-visa,.code-game{
      background: url(../images/card/visacard.png) no-repeat;
      color: #fff;
      font-style: normal;
      font-size: 11px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 5px;
    }
    .code-game{
      background: url(../images/card/battle.png) no-repeat 0 0 !important; -webkit-filter: grayscale(0); filter: grayscale(0);
      &:hover{background: url(../images/card/battle.png) no-repeat 0 -41px !important;}
    }
  }
  .text-note p{
    font-size: 12px;
    color: #333;
    padding: 0 0 2px 17px;
    background: url(../images/item-bullet.png) no-repeat 0 3px;
  }
}
.breadcrumb{
  background: none;
  padding-left: 0;
  margin-bottom: 0;
  a{color: #333;}
  a:hover{text-decoration: underline;}
}
.main-inner{
  .header{width: 75%; padding: 0; align-items: center; justify-content: space-between;}
   h2.title{font-size: 20px; font-weight: bold; margin: 15px 0;}
  .facebook{margin-top: 20px;}
  .box-guide{
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    h4{display: block; padding: 12px 15px; font-size: 18px; font-weight: bold; color: #333; border-bottom: 1px solid #f7f7f7;}
  }
  .list-faq{
    padding: 15px;
    article{
      display: none; padding: 10px 18px; color: #666;
      h5{margin-bottom: 10px;}
      img{max-width: 100%; margin: 10px 0;}
    }
    li{margin-bottom: 10px;}
    li a{
      padding-left: 18px; font-size: 14px;
      color: var(--gray1); background: url("../images/item-bullet.png") no-repeat 0 2px;
    }
  }
  .commits{
    margin-bottom: 17px;
    padding: 10px;
    background: rgba(255,255,255,0.95);
    border: 1px solid #e4e4e4;
    li{padding: 5px 0; display: flex; align-items: center;}
    .icon{@include block(block,48px,48px); padding-left: 48px; margin-right: 7px; background: url("../images/icons1.png") no-repeat;}
    .icon-24h{background-position: 0 0;}
    .icon-nl{background-position: 0 -96px;}
    .icon-price{background-position: 0 -240px;}
    .icon-giftcode{background-position: 0 -48px;}
    .icon-ins{background-position: 0 -144px;}
    p{color: #999; line-height: 16px;}
  }
  .item-service{
    h4{padding: 5px; background: #e9e7e7; color: #333; font-weight: bold; font-size: 12px;}
    li{
      display: flex; justify-content: space-between; align-items: center;
      padding: 5px; color: #666; border-bottom: 1px solid #e9e7e7; font-size: 12px;
      span{width: 50%; padding: 0 2px; text-align: center;}
    }
    li:nth-child(even){background: #f8f7f7;}
  }
  .news-hot{
    margin: 0 0 17px;
    background: rgba(255,255,255,0.5);
    border: 1px dashed #c1c1c1;
    .list-news{
      padding: 5px 15px;
      li{padding: 5px 0;}
      a{display: block; color: #333; padding-left: 18px; background: url("../images/item-bullet.png") no-repeat 0 2px;}
      a:hover{text-decoration: underline;}
      span{color: #c00;}
    }
    h4{
      padding: 10px 15px 10px 45px; border-bottom: 1px solid #f7f7f7;
      background: url("../images/icon-hot.png") no-repeat 20px center;
    }
  }
  .note-form{
    background: #fbf196;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
  }
}

// 3.2 form pay, sale
.form_pay,.form_buy{
  border: 4px solid var(--blue); border-radius: 4px;
  background: rgba(255,255,255,0.95);
  &.fh{height: 100%;}
  .form-title{
    padding: 15px;
    color: #333;
    border-bottom: 1px solid var(--blue);
    h4{font-size: 18px; font-weight: bold;}
  }
  .form-body{
    padding: 15px;
    .frm-group{display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 15px;}
    .frm-group:last-child{margin-bottom: 0;}
    label{display: block; width: 100px; margin-bottom: 0; font-size: 13px; color: #666;}
    input[type="text"],select,input[type="number"],input[type="email"]{height: 35px; width: calc(100% - 100px); padding: 0 6px; border-radius: 3px; border: 1px solid #b1b1b1;}
    input.full{width: 100%; margin-top: 10px;}
    .input_email{width: 62% !important;}
  }
  .multiple{
    select,input[type="email"]{width: auto; min-width: 200px; height: 35px; margin-right: 10px;}
    input[type="number"]{width: auto; min-width: 120px;}
    .input_group{
      align-items: center;
      label{width: auto; margin-right: 10px;}
    }
    input[type="email"]{min-width: 60%;}
  }
  .checkbox{
    display: flex !important; align-items: center; width: auto !important; flex-wrap: nowrap; margin-left: 15px;
    input{margin-left: 10px; width: 15px; height: 15px;}
  }

}
.form_card_game{
  .form-body{
    input[type="text"],input[type="email"],select{width: 100%;}
  }
}
.form_half{
  .form-body{
    label{width: 20%;}
    input[type="text"],input[type="number"],input[type="email"],select{width: 40%;}
    .box-capcha{margin-left: 15px;}
    .btn-submit{margin-left: 20%;}
  }
}
.form_info_pay{
  .form-body{
    label{width: 150px;}
    span.value{font-weight: bold;}
    .price{color: #c00; font-size: 18px;}
  }
  .button_back{
    padding: 9px 20px;
    margin: 10px 10px 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    &:hover{background: linear-gradient(#e91e63,#bb295b); color: #fff;}
  }
}

// 3.3 sidebar
.table_price,.box-service,.table_visa{
  margin: 0 0 17px;
  background: rgba(255,255,255,0.95);
  border: 1px solid #e4e4e4;
  h2.title{font-size: 18px; color: #333; margin: 12px 0 12px 20px;}
  .logo-card{
    padding: 4px 2px;
    background: #e9e7e7;
    li{@include block(block,72px,42px); margin: 3px; border-radius: 4px; border: 1px solid #ccc;}
    .icon{width: 100%; height: 100%; display: block; border-radius: 4px; background-position: 0 -41px !important; -webkit-filter: grayscale(1);filter: grayscale(1);}
    .icon:hover{-webkit-filter: grayscale(0);filter: grayscale(0);}
    .icon-viettel{background: url("../images/card/viettel.png") no-repeat;}
    .icon-mobiphone{background: url("../images/card/mobiphone.png") no-repeat;}
    .icon-vina{background: url("../images/card/vinaphone.png") no-repeat;}
    .icon-vnm{background: url("../images/card/vietnammobile.png") no-repeat;}
    .icon-sfone{background: url("../images/card/sphone.png") no-repeat;}
    .icon-gmobi{background: url("../images/card/gmobile.png") no-repeat;}
  }
  table{
    width: 100%;
    th{padding: 5px; font-size: 12px; font-weight: bold; color: #333; text-align: center;}
    td{padding: 5px; text-align: center; color: #666;}
    thead{background: #ccc;}
    tbody{
      tr{border-bottom: 1px solid #e9e7e7;}
      tr:last-child{border-bottom: none;}
    }
    tbody tr:nth-child(even) td{background: #f8f7f7;}
  }
  .note{
    p{font-size: 11px; color: var(--gray1); display: block; padding: 5px;}
  }
}
.table_visa{
  border-collapse: collapse;
  td{border: 1px solid #e9e7e7;}
  thead th{padding: 5px; background: #e9e7e7; font-weight: bold; font-size: 12px; text-align: center;}
  tbody td{padding: 5px; color: #666;  text-align: center;}
  table tbody tr:nth-child(even) td{background: none;}
}
.news-sidebar{
  padding: 10px;
  background: rgba(255,255,255,0.95);
  border: 1px solid #e4e4e4;
  li{
    padding: 3px 0 4px 20px;
    background: url(../images/item-bullet.png) no-repeat 0 8px;
  }
  a{color: #333;}
  a:hover{text-decoration: underline;}
}

// 3.4 news
.box-category{
  margin-bottom: 17px;
  background: rgba(255,255,255,0.95);
  border: 1px solid #e4e4e4;
  h4{padding: 12px 20px; border-bottom: 1px solid #f7f7f7;}
  li a{
    display: block;
    padding: 8px 15px 8px 30px;
    font-weight: bold; color: var(--gray1); font-size: 12px;
    background: url("../images/item-bullet.png") no-repeat 10px center;
    border-bottom: 1px dotted #ddd;
  }
  li:hover{background: #e0e0e0;}
  li:last-child a{border-bottom: none;}
}
.news{
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  h4.title{padding: 12px 20px; border-bottom: 1px solid #f7f7f7;}
  .post{
    border-bottom: 1px solid #F7F7F7;
    padding: 10px;
    h5 a{display: block; margin: 10px 0; font-size: 14px; color: #2652ad; font-weight: bold;}
    h5 a:hover{color: #c00;}
  }
  .thumb img{
    @include block(block,145px,115px);
    padding: 2px;
    margin-right: 15px; border: 1px solid #e8e8e8;
    object-fit: cover; border-radius: 2px; transition: transform 1s;
  }
}
.navigation{
  padding: 15px 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  .page-link{color: var(--gray1);}
}

// 3.5 credit card
.section-cards{justify-content: space-between;}
.card-credit{
  width: 49%;
  margin-bottom: 30px;
  position: relative;
  .card-info{
    align-items: center;
    background: #e0e0e0;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    padding: 10px; cursor: pointer;
    &:hover{
      background: #a2a5a4;
      .card-title{color: #fff;}
    }
  }
  .card-thumb img{width: 150px; height: 95px; object-fit: cover;}
  .card-title{margin: 0 0 0 5px; font-size: 16px;}
  .sale{
    @include block(block,60px,52px); background: url("../images/item-sale1.png") no-repeat;
    padding: 10px 10px 0 0;
    text-align: center;
    position: absolute;
    right: 0; top: -9px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px; font-weight: bold;
  }
  .form_credit{
    display: none;
    background: #fff;
    padding: 10px 15px;
    position: absolute;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 0 04px 4px;
    z-index: 90;
    .box-capcha{margin-left: 10px;}
    .frm-group{display: flex; align-items: center; margin: 10px 0;}
    label{width: 100px; margin-bottom: 0; padding-right: 5px; color: #666;}
    input,select{width: calc(100% - 100px); padding: 0 6px; height: 30px; border: 1px solid #ccc; border-radius: 4px;}

  }
  &.active{
    .form_credit{display: block;}
    .card-info{background: #a2a5a4;}
    .card-info .card-title{color: #fff;}
  }

}

// 3.5 agency
.row_agency{align-items: center;}
.agency-info{
  article{
    margin-bottom: 30px;
    p{margin-bottom: 5px; padding-left: 15px;}
  }
  .benefits p{color: #b13b11; font-weight: bold;}
  .steps-register p{padding-left: 20px; margin-left: 10px; background: url("../images/item-bullet.png") no-repeat left 4px;}
  .contact{
    h4{color: #b13b11;}
    p{padding-left: 0;}
  }
  h2.title{font: 30px Roboto, sans-serif;}
  h4{margin-bottom: 5px; font-size: 14px; line-height: 22px;}
}
.agency-login{
  border: 4px solid var(--blue);
  border-radius: 6px;
  padding: 15px;
  background: #fff;
  h4.title{margin-bottom: 20px; font-size: 15px;}
  .frm-group{display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 15px; position: relative;}
  label{display: block; margin-bottom: 8px; color: #666; font-weight: normal;}
  label span{color: #c00;}
  input{padding: 0 6px; width: 100%; height: 35px; border: 1px solid #ccc; border-radius: 4px;}
  .btn-submit{margin-top: 0; padding: 8px 22px !important; border: none;}
  .verify_image{width: 50%;}
  .box-capcha{margin-left: 15px;}
  .forget_pass{
    color: #0366d6;
    position: absolute;
    top: 0;
    right: 0;
    &:hover{text-decoration: underline;}
  }
  .register-agency{
    text-align: center;
    h6{
      color: var(--gray1);
      padding-bottom: 8px;
      border-bottom: 1px solid #ccc;}
    .btn-register{
      display: inline-block;
      margin-top: 10px;
      padding: 8px 22px;
      text-transform: uppercase;
      color: var(--gray1);
      font-size: 12px;
      border: 1px solid #ccc;
      background: linear-gradient(#f5f5f5, #c3c3c3);
      border-radius: 2px;
      &:hover{
        background: linear-gradient(#e91e63,#bb295b);
        color: #fff;
        border: 1px solid #bd481c;
      }
    }
  }
}


// 3.6 popup_pay
.popup_pay{
  .modal-dialog{max-width: 720px;}
  .modal-content{
    padding: 10px;
    background: #fff;
    border: 1px solid #ffffff;
    box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.5);
  }
  .note-pay{
    padding: 10px;
    background: #d5edf8;
    color: #205791;
    border-color: #92cae4;
  }
  .pay_header{
    padding: 15px 0;
    align-items: center;
    position: relative;
    .icon{width: 60px; height: auto; display: block; margin-right: 10px; -webkit-filter: grayscale(1); filter: grayscale(1);}
    .icon-normal{-webkit-filter: grayscale(0); filter: grayscale(0);}
    .icon img{display: block; max-width: 100%; margin: 0 auto;}
    h4{font-size: 14px;}
    h4 a{color: var(--gray1);}
    h4 span{font-size: 12px; font-weight: normal;}
    h4 span b{color: #c00;}
    button{cursor: pointer; padding: 8px 20px; font-size: 14px; position: absolute; right: 0;}
  }
  .method_pay{
    padding: 10px 0;
    border-bottom: 1px solid #DFDFDF;
    &.active{
      .pay_body{display: flex;}
      .btn_pay{display: none !important;}
    }
    &:hover{
      .pay_header{
        h4 a{color: #c00;}
        button{background: linear-gradient(#e91e63,#bb295b); color: #fff;}
        .icon{-webkit-filter: grayscale(0); filter: grayscale(0);}
      }
    }
  }
  .list-cards{
    width: 50%;
    padding-left: 40px;
    align-self: flex-start;
    li{width: 95px; height: 35px; display: flex; align-items: center; margin: 2px; border: 1px solid #dcdcdc; border-radius: 4px; position: relative;}
    li i{display: block; margin: 0 auto; width: 80px; height: 30px; background: url("../images/bank_logo.png") no-repeat 0 0;}
    li i.logo-visa{background-position: 0 0;}
    li i.logo-master{background-position: 0 -31px;}
    li i.logo-jcb{background-position: 0 -93px;}
    li i.logo-bidv{background-position: 0 -620px;}
    li i.logo-vcb{background-position: 0 -124px;}
    li i.logo-dab{background-position: 0 -434px;}
    li i.logo-vtb{background-position: 0 -248px;}
    li i.logo-mb{background-position: 0 -186px;}
    li i.logo-shb{background-position: 0 -465px;}
    li i.logo-vib{background-position: 0 -217px;}
    li i.logo-tcb{background-position: 0 -155px}
    li i.logo-exb{background-position: 0 -279px;}
    li i.logo-acb{background-position: 0 -310px;}
    li i.logo-hdb{background-position: 0 -341px;}
    li i.logo-msb{background-position: 0 -372px;}
    li i.logo-nvb{background-position: 0 -403px;}
    li i.logo-vab{background-position: 0 -744px;}
    li i.logo-vpb{background-position: 0 -713px;}
    li i.logo-scb{background-position: 0 -682px;}
    li i.logo-ojb{background-position: 0 -496px;}
    li i.logo-pgb{background-position: 0 -589px;}
    li i.logo-gpb{background-position: 0 -775px;}
    li i.logo-agb{background-position: 0 -651px;}
    li i.logo-sgb{background-position: 0 -806px;}
    li i.logo-nab{background-position: 0 -837px;}
    li i.logo-bab{background-position: 0 -868px;}
    li i.logo-tab{background-position: 0 -558px;}
    li i.logo-sgcb{background-position: 0 -895px;}
    li em{
      display: none;
      padding: 0 5px;
      position: absolute; left: 2px; top: 2px;
      z-index: 2; background: #c00;
      border-radius: 4px; color: #fff; font-size: 10px;
    }
    li.selected,li:hover{
      border: 1px solid #064c2e;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7), 0 0 3px #FFFFFF inset;
      cursor: pointer;
    }
    li.selected em{display: block;}
    li:hover{border: 1px solid #333;}
  }
  .pay_body{display: none;}
  .pay_info{
    width: 50%;
    background: #E8F1FE;
    padding: 10px;
    border-radius: 4px;
    .frm-group{margin-bottom: 10px;}
    .frm-group:last-child{margin-bottom: 0;}
    h4{font-size: 16px; margin-bottom: 10px;}
    label{display: block; margin-bottom: 8px; font-size: 14px;}
    label span{color: #c00;}
    input{width: 100%; height: 35px; padding: 0 6px; border-radius: 4px; border: 1px solid #ccc;}
    .btn-submit{float: right; padding: 8px 20px !important;}
  }
  .close_popup{
    @include block(block,22px,22px);
    border: none; background: url("../images/popup-close.png") no-repeat;
    position: absolute; top: -10px; right: -10px; z-index: 9; cursor: pointer;
  }
}




.bg-mobile{
  background: url(../images/bg-mobile.jpg) no-repeat top center fixed #fff;
}
.bg-mobilecard {
  background: url(../images/bg-mobilecard.jpg) no-repeat top center fixed #b1dffd;
}
.bg-game{
  background: url(../images/bg-game.jpg) no-repeat top center fixed #fff;
}
.bg-invoices{
  background: url(../images/bg-invoices.jpg) no-repeat top center fixed #dededc;
}
// 4. general
.buttons{
  border-top: 1px solid #f7f7f7;
  padding: 10px 0;
}
.btns{
  display: block;
  margin: 0 5px;
  padding: 6px 15px;
  background: linear-gradient(#f5f5f5,#ccc);
  color: #555;
  text-align: center;
  border: 1px solid #d6d5d5;
  border-radius: 2px;
  font-size: 12px;
}
.btns:hover{
  border: 1px solid #b10e45;
  background: linear-gradient(#e91e63,#bb295b); color: #fff;
}
.btn-submit{
  display: block;
  width: auto !important;
  height: auto !important;
  margin: 10px 0 0;
  padding: 6px 20px !important;
  background: linear-gradient(#bb295b, #e91e63);
  color: #fff;
  text-align: center;
  border: 1px solid #b10e45;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  line-height: 20px;
  cursor: pointer;
  &:hover{background: linear-gradient(#e91e63,#bb295b);}
}
h4{font-weight: bold; font-size: 18px; color: var(--gray1);}
// 5.footer
footer{
  width: 100%; min-height: 100px;
  padding: 12px 0;
  .container{max-width: 980px; margin: 0 auto;}
  .slider-footer{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    h4{
      display: block;
      margin-right: 35px;
      float: left;
      font-size: 12px;
      font-weight: bold;
      color: #333;
      line-height: 37px;
    }
    .flex-control-nav{display: none;}
    .flexslider{overflow: hidden; width: 800px;}
  }
  .slick-arrow{
    @include block(block,7px,11px);
    padding: 0; text-indent: -9999em;
    background: url("../images/nav-slider.png") no-repeat 0 0; position: absolute; top: 50%; transform: translateY(-50%);
    border: none;
    cursor: pointer;
    &.slick-next{right: -10px; transform: translateY(-50%) rotate(-180deg);}
    &.slick-prev{left: 130px;}
  }
  .slider-logo{
    li{margin: 0 5px; width: 37px;}
    li a{@include block(block,37px,37px); margin: 0 auto; border: 1px solid #d1d1d1; border-radius: 3px 3px 3px 3px; background-position: 0 0;}
    li a:hover{background-position: 0 -40px !important; border-color: #222;}
    li a.vietcombank{background: url("../images/logo/vietcombank.png") no-repeat;}
    li a.techbk{background: url("../images/logo/techbk.png") no-repeat;}
    li a.dongabk{background: url("../images/logo/dongabk.png") no-repeat;}
    li a.vietinbk{background: url("../images/logo/vietinbk.png") no-repeat;}
    li a.vibk{background: url("../images/logo/vibk.png") no-repeat;}
    li a.shbk{background: url("../images/logo/shbk.png") no-repeat;}
    li a.acbbk{background: url("../images/logo/acbbk.png") no-repeat;}
    li a.sacombk{background: url("../images/logo/sacombk.png") no-repeat;}
    li a.bidvbk{background: url("../images/logo/bidvbk.png") no-repeat;}
    li a.agrbk{background: url("../images/logo/agrbk.png") no-repeat;}
    li a.mbk{background: url("../images/logo/mbk.png") no-repeat;}
    li a.exembank{background: url("../images/logo/exembank.png") no-repeat;}
    li a.vpbk{background: url("../images/logo/vpbk.png") no-repeat;}
    li a.seabk{background: url("../images/logo/seabk.png") no-repeat;}
    li a.bacabk{background: url("../images/logo/bacabk.png") no-repeat;}
    li a.maritbk{background: url("../images/logo/maritbk.png") no-repeat;}
  }
  .list-service{
    margin-bottom: 6px;
    a{font-weight: bold;}
  }
  .info{
    padding: 15px 0;
    color: #999;
    font-size: 12px;
    h4{display: block; font-weight: bold; margin-bottom: 6px; font-size: 14px; color: #a7a7a7;}
    a{color: #1E5AA5;}
    a:hover{color: #333;}
  }
}

.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}























