.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

@media (min-width: 320px) and (max-width: 767px) {
  h2.title {
    font-size: 22px;
    line-height: 32px; }
    h2.title:after {
      margin-bottom: 20px; }
  .topbar {
    height: auto; }
    .topbar .textbar {
      display: none;
      padding: 5px 0;
      height: auto;
      justify-content: center;
      font-size: 14px; }
      .topbar .textbar .hotline {
        margin-right: 0; }
  .menubar {
    height: 45px;
    justify-content: center;
    padding-right: 30px; }
    .menubar li a {
      padding: 5px 8px;
      font-size: 13px; }
    .menubar a.login {
      padding: 4px 10px 6px;
      margin-left: 5px; }
  .select_language {
    right: 5px;
    font-size: 13px;
    background: url(../images/arrow_down.png) no-repeat right 8px; }
  .box-slider .item-slider {
    min-height: 300px; }
  .box-slider img {
    width: 100%;
    min-height: 300px;
    object-fit: cover; }
  .box-slider .detail h2 {
    font-size: 22px; }
  .box-slider .detail h2:before {
    width: 60px;
    margin-bottom: 15px; }
  .box-slider .btn-buy {
    margin: 20px 0 0 0;
    padding: 6px 15px;
    font-size: 18px; }
  .slick-arrow {
    width: 60px;
    height: 60px; }
    .slick-arrow:before {
      left: 11px;
      width: 16px;
      height: 11px;
      background-size: 16px 11px; }
    .slick-arrow.slick-next {
      right: -30px; }
    .slick-arrow.slick-prev {
      left: -30px; }
  .section {
    padding-top: 40px; }
  .hot-trend .card_info {
    margin-bottom: 15px; }
  .tab_product li {
    padding: 2px 20px; }
  .tab_product a {
    font-size: 16px; }
  .category_product h2.title {
    margin-bottom: 62px; }
  .category_product .list-category {
    margin-bottom: 20px; }
  .section.introduce {
    background-size: 100% 100%; }
    .section.introduce .content_intro {
      padding: 0; }
    .section.introduce .btn-buy {
      margin-top: 40px; }
  .viewed_product h2.title {
    width: auto;
    margin-bottom: 40px;
    padding-left: 15px; }
  .get_email {
    padding: 20px 0; }
    .get_email form input[type="email"] {
      width: 70%; }
    .get_email form .btn-submit {
      padding: 0 4px;
      margin-left: 2px;
      font-size: 13px; }
  footer .bt_bar {
    height: auto;
    padding: 10px 0;
    text-align: center; }
    footer .bt_bar .container {
      flex-wrap: wrap; }
  footer .copyright {
    padding-left: 0;
    text-align: center; }
  footer .method_pay {
    justify-content: center;
    padding: 10px 0; }
  footer .list-item {
    margin-bottom: 15px; } }

@media (min-width: 480px) and (max-width: 767px) {
  .card-new .thumb img {
    width: 100%; }
  .category_product .slider_category img {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .textbar {
    display: none; }
  .select_language {
    right: 15px; }
  .box-slider .item-slider {
    min-height: 300px; }
  .box-slider img {
    width: 100%;
    min-height: 300px;
    object-fit: cover; }
  .box-slider .detail h2 {
    font-size: 28px; }
  .box-slider .detail h2:after {
    width: 80px;
    margin-top: 20px; }
  .box-slider .btn-buy {
    margin: 20px 0 0 0;
    padding: 6px 15px;
    font-size: 18px; }
  .category_product .list-category a {
    font-size: 15px; } }

@media (min-width: 320px) and (max-width: 1023px) {
  .navbar {
    padding: 15px 0;
    align-items: center;
    flex-direction: row; }
    .navbar .brand {
      margin: 0; }
    .navbar .social_cart {
      position: absolute;
      right: -15px;
      top: 2px; }
  .navbar-toggle {
    display: block;
    padding: 0;
    position: relative;
    display: block;
    width: 33px;
    height: 18px;
    background: none;
    border: none; }
    .navbar-toggle span {
      display: block;
      width: 33px;
      height: 2px;
      background: #231f20;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .navbar-toggle span:before, .navbar-toggle span:after {
      content: '';
      display: block;
      width: 33px;
      height: 2px;
      background: #231f20;
      position: absolute; }
    .navbar-toggle span:before {
      top: -7px; }
    .navbar-toggle span:after {
      bottom: -7px; }
  .navbar-nav {
    margin-top: 15px; }
    .navbar-nav li {
      padding: 0; }
    .navbar-nav li a {
      padding: 5px 0;
      font-size: 14px; }
  .content_product .thumb img {
    display: block;
    margin: 0 auto; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  .select_language {
    right: 20px; }
  .topbar .textbar {
    font-size: 15px; }
  .navbar-nav li {
    padding: 0 15px; }
  .topbar .textbar .hotline {
    margin-right: 15px; }
  .box-slider .detail h2 {
    font-size: 36px; }
  .box-slider .detail h2:after {
    margin-bottom: 15px; }
  .box-slider .detail .btn-buy {
    margin: 30px 0 0 0;
    padding: 8px 22px;
    font-size: 22px; } }
