* {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

h1, h2, h3, h4, h5, h6, table, p, ul {
  margin: 0;
  padding: 0;
  font-size: inherit; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

input:focus {
  outline: none; }

[hidden] {
  display: none; }

.pr {
  position: relative; }

a, a:hover {
  text-decoration: none; }

li {
  list-style: none; }

.flex {
  display: flex;
  display: -webkit-flex; }

.headerBody .beforeLogin .buttons a, .tab a {
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  border: 2px solid transparent;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
  color: var(--greyish-brown); }
  .headerBody .beforeLogin .buttons a:hover, .tab a:hover, .headerBody .beforeLogin .buttons a.active, .tab a.active {
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: var(--barney); }

.service_item .s_author a.message:hover {
  border: solid 2px transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: var(--barney); }

.profile .book a {
  border: solid 2px transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(82deg, #eb008b, #652d90);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: var(--barney);
  font-weight: bold;
  border-radius: 4px;
  text-align: center; }
  .profile .book a:hover {
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(82deg, #652d90, #eb008b); }

:root {
  --greyish-brown: #4d4d4d;
  --black: #1a1a1a;
  --greyish: #b2b2b2;
  --barney: #d71b96;
  --white: #f2f2f2;
  --white-two: #f7f7f7;
  --white-three: #e5e5e5; }

body {
  display: block;
  width: 100%;
  font: 14px 'Quicksand', sans-serif;
  background: #fff; }

.headerTop {
  display: flex;
  height: 39px;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px solid var(--white-two); }

.hotline p {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: var(--greyish-brown); }

.hotline a {
  color: var(--barney);
  font-weight: 700; }

.social {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }
  .social li {
    margin: 0 15px; }
  .social ion-icon {
    color: var(--white-three);
    font-size: 18px;
    transition: 0.3s; }
  .social li:hover ion-icon {
    color: var(--greyish-brown); }

.headerLink li {
  margin: 0 12px; }

.headerLink li:last-child {
  margin-right: 0; }

.headerLink li:first-child {
  margin-left: 0; }

.headerLink a {
  color: var(--greyish);
  font-weight: 500; }

.headerLink a:hover {
  color: var(--barney); }

.headerBody {
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 120px; }

.headerBody .menu li {
  margin: 0 16px; }

.headerBody .menu li:last-child {
  margin-right: 0; }

.headerBody .menu li:first-child {
  margin-left: 0; }

.headerBody .menu a {
  display: block;
  color: var(--greyish-brown);
  font-weight: 500;
  text-align: left;
  transition: 0.3s; }

.headerBody .menu a:hover {
  color: var(--barney); }

.headerBody .beforeLogin .buttons a {
  display: flex;
  width: 105px;
  height: 41px;
  display: -webkit-flex;
  border-radius: 4px; }

.headerBody .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }
  .headerBody .logo img {
    max-width: 150px; }

/*main*/
main {
  width: 1440px;
  margin: 0 auto;
  background: var(--white-two); }

.slider_album_week {
  width: 1440px;
  margin: 0 auto; }
  .slider_album_week .item {
    padding: 0 5px;
    transition: 0.3s;
    position: relative; }
    .slider_album_week .item img {
      max-width: 100%; }
  .slider_album_week .blur {
    opacity: 0.1;
    border-radius: 4px; }
  .slider_album_week .slick-active {
    opacity: 1;
    background-image: none; }
  .slider_album_week .slick-current ~ .slick-active {
    opacity: 0.1; }
  .slider_album_week .author {
    position: absolute;
    right: 31px;
    bottom: 0; }
  .slider_album_week .content {
    width: 97.7%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5px;
    background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0), rgba(26, 26, 26, 0.6));
    border-radius: 4px; }
  .slider_album_week .detail {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 20px; }
  .slider_album_week h2 {
    display: flex;
    color: var(--greyish);
    font-size: 12px;
    font-weight: 500;
    align-items: flex-end;
    margin-bottom: 10px; }
    .slider_album_week h2:before {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      margin-right: 5px;
      margin-bottom: 3px;
      background: var(--greyish); }
  .slider_album_week .statistical {
    margin-left: 20px; }
    .slider_album_week .statistical p {
      display: flex;
      align-items: center;
      margin-right: 12px;
      font-size: 12px;
      font-weight: 500;
      color: var(--greyish); }
    .slider_album_week .statistical ion-icon {
      font-size: 12px;
      margin-right: 3px; }
  .slider_album_week h3 a {
    color: var(--white);
    font-size: 18px;
    font-weight: 500; }

h2.title {
  display: block;
  padding: 40px 0 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--black); }

.author {
  align-items: center;
  -webkit-align-items: center; }
  .author img {
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 3px;
    object-fit: cover;
    border-radius: 50%; }
  .author span.name {
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
    display: block; }
  .author span.address {
    color: var(--greyish);
    font-size: 10px;
    font-weight: 500; }

.tab {
  justify-content: center;
  -webkit-justify-content: center; }
  .tab li {
    margin: 0 20px; }
  .tab a {
    display: flex;
    display: -webkit-flex;
    border-radius: 4px;
    height: 34px;
    color: var(--greyish);
    border: 1px solid var(--greyish); }
  .tab li.active a {
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: var(--barney); }
    .tab li.active a:hover {
      margin: 0 !important; }
  .tab a:hover {
    margin: 0 -1px; }
  .tab span {
    padding: 0 16px; }

.post {
  background: #fff;
  position: relative; }
  .post .thumb {
    display: block;
    height: 163px;
    overflow: hidden; }
    .post .thumb img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: linear 2s; }
    .post .thumb:hover img {
      transform: scale(1.1); }
  .post .header {
    height: 45px;
    padding: 0 15px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
  .post .author p {
    line-height: 15px; }
  .post .author span.name {
    color: var(--greyish-brown); }
  .post .body {
    padding: 15px; }
    .post .body .category {
      display: flex;
      color: var(--greyish);
      font-size: 12px;
      font-weight: 500;
      align-items: flex-end;
      margin-bottom: 5px; }
      .post .body .category:before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        margin-right: 5px;
        margin-bottom: 3px;
        background: var(--white-three); }
    .post .body h3 a {
      display: block;
      color: var(--greyish-brown);
      font-size: 14px;
      font-weight: bold;
      transition: 0.3s;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .post .body h3 a:hover {
      color: var(--barney); }
    .post .body .statistical {
      margin-top: 15px; }
      .post .body .statistical p {
        display: flex;
        align-items: center;
        margin-right: 17px;
        font-size: 12px;
        font-weight: 500;
        color: var(--greyish); }
      .post .body .statistical ion-icon {
        font-size: 12px;
        margin-right: 3px; }
  .post .love {
    margin-left: 15px;
    margin-top: -16px;
    align-items: center;
    -webkit-align-items: center;
    font-weight: 500;
    color: var(--greyish);
    font-size: 12px; }
    .post .love ion-icon {
      font-size: 12px;
      margin-right: 3px; }
  .post a.book {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    color: var(--greyish);
    font-weight: bold; }
    .post a.book:hover {
      color: var(--barney); }
      .post a.book:hover ion-icon {
        color: var(--barney); }
    .post a.book ion-icon {
      margin-right: 5px;
      font-size: 14px;
      color: var(--greyish); }

.album_post, .makeup_post {
  margin-top: 26px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }
  .album_post .post, .makeup_post .post {
    width: 270px;
    margin: 15px; }
  .album_post article:first-child, .album_post article:nth-child(5n+0), .makeup_post article:first-child, .makeup_post article:nth-child(5n+0) {
    margin-left: 0; }
  .album_post article:last-child, .album_post article:nth-child(4n+0), .makeup_post article:last-child, .makeup_post article:nth-child(4n+0) {
    margin-right: 0; }

.photography, .collection {
  margin-top: 25px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }
  .photography .photography_post, .collection .photography_post {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
  .photography .post, .collection .post {
    width: 370px;
    margin: 15px; }
    .photography .post .header, .collection .post .header {
      height: 55px;
      justify-content: flex-start; }
    .photography .post .book, .collection .post .book {
      position: absolute;
      right: 15px; }
  .photography .thumb, .collection .thumb {
    height: 225px; }
  .photography h2, .collection h2 {
    padding-bottom: 25px; }
  .photography article:first-child, .photography article:nth-child(4n+0), .collection article:first-child, .collection article:nth-child(4n+0) {
    margin-left: 0; }
  .photography article:last-child, .photography article:nth-child(3n+0), .collection article:last-child, .collection article:nth-child(3n+0) {
    margin-right: 0; }
  .photography .slick-arrow, .collection .slick-arrow {
    width: 60px;
    height: 60px;
    opacity: 0.3;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    border: none;
    z-index: 4;
    cursor: pointer; }
    .photography .slick-arrow:focus, .collection .slick-arrow:focus {
      outline: none; }
  .photography .slick-slide, .collection .slick-slide {
    height: 225px;
    overflow: hidden; }
  .photography .slick-prev, .collection .slick-prev {
    left: 0; }
  .photography .slick-next, .collection .slick-next {
    right: 0; }

.topMakeup {
  margin-top: 25px; }
  .topMakeup .makeup_post {
    margin-top: 0; }
    .topMakeup .makeup_post .header {
      justify-content: flex-start;
      -webkit-justify-content: flex-start; }
    .topMakeup .makeup_post .book {
      position: absolute;
      right: 15px; }

.collection .collection_post {
  margin-top: 26px; }

.collection .thumb, .collection .slick-slide {
  height: 490px; }

.collection .post .body h3 a {
  font-size: 18px; }

.collection .post .body .category {
  margin-bottom: 10px; }

.service_around h2.title {
  padding-bottom: 16px; }

.service_around .link_service {
  display: block;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 500;
  color: #808080;
  font-size: 14px; }

.service_around iframe {
  height: 500px;
  width: 100%;
  display: block;
  margin-top: 16px; }

.service_around .service_content {
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 0; }

.service_around .service_info {
  width: 328px;
  border-radius: 4px;
  background: #000;
  box-shadow: 10px 20px 30px 0 rgba(0, 0, 0, 0.2); }

.service_around .slider {
  width: 255px;
  height: 150px;
  display: block;
  margin: 0 auto;
  overflow: hidden; }
  .service_around .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .service_around .slider .item {
    height: 150px; }

.service_around .slick-arrow {
  position: absolute;
  top: 0;
  text-indent: -9999px;
  border: none; }

.service_around .slick-prev {
  left: 0; }

.service_around .slick-next {
  right: 0; }

.service_around .info {
  padding: 15px;
  background-image: linear-gradient(75deg, #eb008b, #652d90); }
  .service_around .info .author {
    margin-right: 20px; }
  .service_around .info:after {
    content: "";
    width: 36px;
    height: 16px;
    display: block;
    background-image: linear-gradient(75deg, #eb008b, #652d90);
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%); }

.service_around .phone_add {
  color: #fff; }
  .service_around .phone_add p {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 4px;
    font-size: 12px; }
  .service_around .phone_add ion-icon {
    margin-right: 4px; }

/*service*/
.filter {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding: 48px 0 32px 0;
  color: var(--greyish-brown); }
  .filter select {
    margin-left: 10px;
    background: transparent;
    font-weight: bold;
    border: none; }
  .filter select:focus {
    outline: none; }

.service_makeup, .service_photo, .service_clothes {
  padding-bottom: 95px; }

.service_item {
  width: 100%;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 30px 0 30px 30px;
  margin-bottom: 24px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden; }
  .service_item .avatar {
    width: 120px;
    height: 120px;
    display: block;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%; }
  .service_item .s_author h4 {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--black); }
  .service_item .s_author p {
    margin-bottom: 10px;
    color: var(--greyish);
    font-weight: 500; }
  .service_item .s_author a.message {
    display: flex;
    max-width: 135px;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 32px;
    border-radius: 4px;
    border: 2px solid var(--greyish);
    font-weight: bold;
    color: var(--greyish); }
  .service_item .s_author ion-icon {
    margin-right: 12px;
    font-size: 20px;
    color: var(--greyish); }
  .service_item .s_author span.love {
    margin: 5px 0 0 20px;
    align-items: center;
    -webkit-align-items: center;
    color: var(--greyish);
    font-size: 12px;
    font-weight: bold; }
    .service_item .s_author span.love ion-icon {
      font-size: 12px;
      margin-right: 4px; }
  .service_item .package {
    margin-top: 20px;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    align-items: center;
    -webkit-align-items: center; }
    .service_item .package h4 {
      display: block;
      margin-right: 24px;
      font-weight: 500;
      font-size: 18px;
      color: var(--greyish-brown);
      white-space: nowrap; }
    .service_item .package li {
      display: flex;
      align-content: center;
      height: 52px;
      padding: 0 20px;
      margin: 5px 16px 5px 0;
      border-radius: 4px;
      border: 1px solid var(--greyish); }
    .service_item .package li:last-child {
      margin-right: 0; }
    .service_item .package p {
      color: var(--greyish-brown);
      font-weight: 500;
      line-height: 50px; }
    .service_item .package span {
      margin-left: 18px;
      font-weight: bold;
      color: var(--barney); }
  .service_item .package-list {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }

.slide-service {
  width: 770px;
  height: 120px;
  margin-left: 31px;
  margin-right: -95px;
  overflow: hidden; }
  .slide-service .item {
    width: 180px;
    height: 120px; }
  .slide-service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px; }
  .slide-service .item {
    margin: 0 5px;
    position: relative; }
  .slide-service .item.video:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    opacity: 0.8;
    background-image: linear-gradient(75deg, #eb008b, #652d90);
    z-index: 9; }
  .slide-service .slick-arrow {
    height: 100%;
    width: 32px;
    background: var(--black);
    opacity: 0.6;
    position: absolute;
    top: 0;
    border: none;
    text-indent: -9999em;
    z-index: 9; }
    .slide-service .slick-arrow:focus {
      outline: none; }
  .slide-service .slick-prev {
    left: 5px;
    border-radius: 4px 0 0 4px; }
  .slide-service .slick-next {
    right: 90px;
    border-radius: 0 4px 4px 0; }
  .slide-service:after {
    content: "";
    width: 100px;
    height: 100%;
    border-radius: 0 4px 40px 0;
    opacity: 0.84;
    background: #fff;
    position: absolute;
    top: 0;
    right: 90px; }

.service_header {
  height: 114px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center; }
  .service_header .tab li {
    margin: 0 10px; }

.loading {
  text-align: center; }
  .loading a {
    height: 42px;
    display: inline-block;
    margin: 48px auto 0;
    border-radius: 4px;
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(82deg, #eb008b, #652d90);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    line-height: 38px;
    font-weight: bold;
    color: var(--barney); }
  .loading span {
    padding: 0 22px; }

.service_clothes .service_item {
  width: 570px; }

.service_clothes .service_list {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.service_clothes .loading {
  flex-basis: 100%; }

.service_clothes .slide-service {
  width: 655px;
  margin: 40px -123px 0 -15px;
  height: 280px; }
  .service_clothes .slide-service .item {
    height: 280px; }
  .service_clothes .slide-service .slick-arrow {
    height: 120px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 !important; }
  .service_clothes .slide-service .slick-next {
    right: 100px; }
  .service_clothes .slide-service:after {
    width: 122px; }

/*end service*/
/*service photo detail*/
.photo-detail {
  padding: 40px 0 147px 0; }

.tab_line {
  width: 100%;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--white-three);
  overflow: hidden; }
  .tab_line li {
    position: relative; }
  .tab_line a {
    padding: 0 20px;
    font-size: 18px;
    color: var(--greyish);
    font-weight: bold; }
  .tab_line li.active a {
    color: var(--greyish-brown); }
  .tab_line li.active:after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(89deg, #eb008b, #652d90);
    border-image-slice: 1;
    overflow: hidden;
    position: absolute;
    bottom: -17px; }

.profile {
  width: 270px;
  border-radius: 4px; }
  .profile .bg-white {
    background: #fff; }
  .profile .statistical {
    display: block; }
    .profile .statistical p {
      display: flex;
      align-items: center;
      font-weight: 400;
      color: var(--greyish); }
    .profile .statistical .tol {
      font-weight: 500;
      font-size: 18px;
      color: var(--greyish-brown); }
    .profile .statistical ion-icon {
      margin-right: 15px;
      font-size: 24px;
      color: var(--greyish); }
    .profile .statistical li {
      height: 49px;
      padding: 0 14px;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
      border-top: 1px solid var(--white); }
  .profile .book a {
    display: block;
    width: 159px;
    height: 55px;
    margin: 40px auto 32px;
    font-size: 18px;
    line-height: 55px; }
  .profile .rate {
    padding: 0 16px; }
    .profile .rate p {
      display: block;
      margin-bottom: 12px;
      font-weight: 500;
      color: var(--greyish-brown);
      line-height: 22px; }
  .profile .rate-starting {
    display: block;
    font-size: 0;
    white-space: nowrap;
    width: 210px;
    height: 36px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: url(../images/start1.png);
    background-size: contain; }
  .profile .rate-starting i {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url(../images/start.png);
    background-size: contain; }
  .profile .rate-starting input {
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative; }
  .profile .rate-starting input:checked + i, .profile .rate-starting input:hover + i {
    opacity: 1; }
  .profile .rate-starting i ~ i {
    width: 40%; }
  .profile .rate-starting i ~ i ~ i {
    width: 60%; }
  .profile .star-rating i ~ i ~ i ~ i ~ i {
    width: 100%; }

.author_info {
  width: 100%;
  padding: 40px 16px 0;
  text-align: center; }
  .author_info img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%; }
  .author_info .name {
    display: block;
    margin: 12px 0 8px 0;
    font-size: 24px;
    color: var(--black);
    font-weight: bold; }
  .author_info .job, .author_info .address {
    font-weight: 500;
    color: var(--greyish);
    line-height: 19.6px; }
  .author_info .address {
    margin: 24px 0;
    text-align: left; }

.package_photo {
  width: 872px;
  margin-left: 30px; }
  .package_photo .tab_photo_content {
    margin-top: 25px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .package_photo .tab_photo_content .post {
      width: 270px;
      margin: 15px; }
    .package_photo .tab_photo_content article:first-child, .package_photo .tab_photo_content article:nth-child(4n+0) {
      margin-left: 0; }
    .package_photo .tab_photo_content article:last-child, .package_photo .tab_photo_content article:nth-child(3n+0) {
      margin-right: 0; }
  .package_photo .package-list {
    justify-content: space-between;
    -webkit-justify-content: space-between; }
  .package_photo .package {
    width: 274px;
    padding: 26px 0 16px 0;
    background: #fff;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    text-align: center; }
    .package_photo .package h4 {
      margin-bottom: 4px; }
    .package_photo .package .view-detail {
      font-weight: 500;
      font-size: 12px;
      color: var(--greyish);
      text-decoration: underline; }
      .package_photo .package .view-detail:hover {
        color: var(--barney); }
  .package_photo .list-item {
    margin-top: 22px;
    border-bottom: solid 1px #f2f2f2; }
    .package_photo .list-item li {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      height: 54px;
      border-top: solid 1px #f2f2f2; }
    .package_photo .list-item p {
      font-weight: 500;
      color: var(--greyish);
      line-height: 22px; }
    .package_photo .list-item span {
      font-weight: bold;
      color: var(--greyish-brown); }
  .package_photo .price {
    padding: 24px 0;
    border-bottom: solid 1px #f2f2f2; }
    .package_photo .price span {
      color: #652d90;
      font-size: 18px;
      font-weight: bold; }
  .package_photo .book {
    padding-top: 16px;
    display: inline-block; }
    .package_photo .book ion-icon {
      font-size: 36px;
      color: var(--white-three);
      cursor: pointer; }
      .package_photo .book ion-icon:hover {
        color: var(--barney); }
    .package_photo .book-link {
      width: 111px;
      height: 34px;
      display: block;
      opacity: 0;
      visibility: hidden;
      border-radius: 4px;
      font-weight: 500;
      color: var(--white-two);
      line-height: 34px;
      background-image: linear-gradient(81deg, #eb008b, #652d90);
      box-shadow: 10px 20px 30px 0 rgba(0, 0, 0, 0.2);
      transform: translateY(20px) translateX(-50%);
      transition: 0.5s;
      position: absolute;
      left: 50%;
      bottom: 70px; }
    .package_photo .book:hover .book-link {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
      visibility: visible; }

.package_photo .package h4 {
  font-weight: bold;
  color: var(--greyish-brown);
  font-size: 18px; }

/*end*/
footer {
  height: 90px; }
  footer .container {
    height: 100%;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
  footer .logo {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
    footer .logo img {
      max-width: 120px;
      opacity: 0.2; }
  footer .text p {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    color: var(--greyish-brown);
    line-height: 22px; }
  footer ion-icon {
    font-size: 18px;
    color: var(--barney);
    margin-left: 5px; }
  footer .menuf li {
    margin: 0 20px; }
  footer .menuf li:last-child {
    margin-right: 0; }
  footer .menuf a {
    font-weight: 500;
    color: var(--greyish-brown); }
  footer .menuf a:hover {
    color: var(--barney); }

@media (max-width: 1430px) {
  main {
    width: 100%; }
  .slider_album_week {
    width: 100%; }
    .slider_album_week .content {
      width: 98.3%; }
    .slider_album_week .author {
      margin-left: 0; } }

/*slick js*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*end*/
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0; } }
