*{box-sizing: border-box;}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
h1,h2,h3,h4,h5,h6,table,p,ul {
  margin: 0; padding: 0;
  font-size: inherit;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
input:focus{outline: none}
[hidden] {
  display: none;
}
.pr{position: relative;}
a,a:hover{text-decoration: none;}
li{list-style: none;}

@mixin block($display,$width,$height){
  display: $display;
  width: $width;
  height: $height;
}

%gradient{
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
}
.flex{
  display: flex;
  display: -webkit-flex;
}

%button_home{
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  border: 2px solid transparent;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
  color: var(--greyish-brown);
  &:hover,&.active{
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: var(--barney);
  }
}

:root{
  --greyish-brown: #4d4d4d;
  --black: #1a1a1a;
  --greyish: #b2b2b2;
  --barney: #d71b96;
  --white: #f2f2f2;
  --white-two: #f7f7f7;
  --white-three: #e5e5e5;
}
body{
  display: block;
  width: 100%;
  font: 14px 'Quicksand', sans-serif;
  background: #fff;
}
.headerTop{
  display: flex;
  height: 39px;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px solid var(--white-two);
}
.hotline{
  p{display: block; font-size: 14px; font-weight: 500; color: var(--greyish-brown);}
  a{color: var(--barney); font-weight: 700;}
}
.social{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  li{margin: 0 15px;}
  ion-icon{color: var(--white-three); font-size: 18px;}
}
.headerLink{
  li{margin: 0 12px;}
  li:last-child{margin-right: 0;}
  li:first-child{margin-left: 0;}
  a{color: var(--greyish); font-weight: 500;}
}
.headerBody{
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 120px;
}
.headerBody{
  .menu{
    li{margin: 0 16px;}
    li:last-child{margin-right: 0;}
    li:first-child{margin-left: 0;}
    a{display: block; color: var(--greyish-brown); font-weight: 500; text-align: left; transition: 0.3s;}
    a:hover{color: var(--barney);}
  }
  .beforeLogin{
    .buttons a{
      @extend %button_home;
      @include block(flex,105px,41px);
      display: -webkit-flex;
      border-radius: 4px;
    }
  }
  .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    img{max-width: 150px;}
  }
}

/*main*/
main{width: 1440px; margin: 0 auto; background: var(--white-two);}
.slider_album_week{
  width: 1440px;
  margin: 0 auto;
  .item{
    padding: 0 5px;
    transition: 0.3s; position: relative;
    img{max-width: 100%;}
  }
  .blur{
    opacity: 0.1;
    border-radius: 4px;
  }
  .slick-active{
    opacity: 1;
    background-image: none;
  }
  .slick-current ~ .slick-active{opacity: 0.1;}
  .author{
    position: absolute; right: 31px; bottom: 0;
  }
  .content{
    width: 97.7%; height: 100%;
    position: absolute;
    top: 0;
    left: 5px;
    background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0), rgba(26, 26, 26, 0.6));
    border-radius: 4px;
  }
  .detail{width: 100%; padding: 0 20px; position: absolute; bottom: 20px;}
  h2{
    display: flex;
    color: var(--greyish);
    font-size: 12px;
    font-weight: 500;
    align-items: flex-end;
    margin-bottom: 10px;
    &:before{
      content: "";
      @include block(block,30px,2px);
      margin-right: 5px;
      margin-bottom: 3px;
      background: var(--greyish);
    }
  }
  .statistical{
    margin-left: 20px;
    p{display: flex; align-items: center; margin-right: 12px; font-size: 12px; font-weight: 500; color: var(--greyish);}
    ion-icon{font-size: 12px; margin-right: 3px;}
  }
  h3 a{color: var(--white); font-size: 18px; font-weight: 500;}
}
h2.title{
  display: block;
  padding: 40px 0 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--black);
}
.author{
  align-items: center;
  -webkit-align-items: center;
  img{@include block(block,26px,26px); margin-right: 3px; object-fit: cover; border-radius: 50%;}
  span.name{font-size: 12px; font-weight: 500; color: var(--white); display: block;}
  span.address{color: var(--greyish); font-size: 10px; font-weight: 500;}
}
.tab{
  justify-content: center;
  -webkit-justify-content: center;
  li{margin: 0 20px;}
  a{
    @extend %button_home;
    display: flex;
    display: -webkit-flex;
    border-radius: 4px;
    height: 34px;
    color: var(--greyish);
    border: 1px solid var(--greyish);
    @extend %button_home;
  }
  li.active a{
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: var(--barney);
    &:hover{margin: 0 !important;}
  }
  a:hover,li.active a{margin: 0 -1px;}
  span{ padding: 0 16px;}
}
.post{
  background: #fff;
  position: relative;
  .thumb{
    display: block;
    height: 163px;
    overflow: hidden;
    img{width: 100%; height: 100%; display: block; object-fit: cover; transition: linear 2s;}
    &:hover img{transform: scale(1.1);}
  }
  .header{
    height: 45px;
    padding: 0 15px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .author{
    p{line-height: 15px;}
    span.name{color: var(--greyish-brown);}
    span.address{}
  }
  .body{
    padding: 15px;
    .category{
      display: flex;
      color: var(--greyish);
      font-size: 12px;
      font-weight: 500;
      align-items: flex-end;
      margin-bottom: 5px;
      &:before{
        content: "";
        @include block(block,30px,2px);
        margin-right: 5px;
        margin-bottom: 3px;
        background: var(--white-three);
      }
    }
    h3 a{display: block; color: var(--greyish-brown); font-size: 14px; font-weight: bold; transition: 0.3s; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
    h3 a:hover{color: var(--barney);}
    .statistical{
      margin-top: 15px;
      p{display: flex;
        align-items: center;
        margin-right: 17px;
        font-size: 12px;
        font-weight: 500;
        color: var(--greyish);
      }
      ion-icon{font-size: 12px; margin-right: 3px;}
    }
  }
  .love{
    margin-left: 15px;
    margin-top: -16px;
    align-items: center;
    -webkit-align-items: center;
    font-weight: 500; color: var(--greyish); font-size: 12px;
    ion-icon{font-size: 12px; margin-right: 3px;}
  }
  a.book{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    color: var(--greyish);
    font-weight: bold;
    &:hover{
      color: var(--barney);
      ion-icon{color: var(--barney);}
    }
    ion-icon{margin-right: 5px; font-size: 14px; color: var(--greyish);}
  }
}
.album_post,.makeup_post{
  margin-top: 26px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  .post{width: 270px; margin: 15px;}
  article:first-child,article:nth-child(5n+0){margin-left: 0;}
  article:last-child,article:nth-child(4n+0){margin-right: 0;}

}
.photography,.collection{
  margin-top: 25px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  .photography_post{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .post{
    width: 370px; margin: 15px;
    .header{height: 55px; justify-content: flex-start;}
    .book{position: absolute; right: 15px;}
  }
  .thumb{height: 225px;}
  h2{padding-bottom: 25px;}
  article:first-child,article:nth-child(4n+0){margin-left: 0;}
  article:last-child,article:nth-child(3n+0){margin-right: 0;}
  .slick-arrow{
    width: 60px;
    height: 60px;
    opacity: 0.3;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    border: none;
    z-index: 4;
    cursor: pointer;
    &:focus{outline: none;}
  }
  .slick-slide{height: 225px; overflow: hidden;}
  .slick-prev{left: 0;}
  .slick-next{right: 0;}
}
.topMakeup{
  margin-top: 25px;
  .makeup_post{
    margin-top: 0;
    .header{justify-content: flex-start; -webkit-justify-content: flex-start;}
    .book{position: absolute; right: 15px;}
  }
}
.collection{
  .collection_post{margin-top: 26px;}
  .thumb,.slick-slide{height: 490px;}
  .post .body{
    h3 a{font-size: 18px;}
    .category{margin-bottom: 10px;}
  }
}
.service_around{
  h2.title{padding-bottom: 16px;}
  .link_service{
    display: block;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 500;
    color: #808080;
    font-size: 14px;
  }
  iframe{height: 500px; width: 100%; display: block; margin-top: 16px;}
  .service_content{
    width: 100%; height: 500px; position: absolute; bottom: 0;
  }
  .service_info{
    width: 328px;
    border-radius: 4px;
    background: #000;
    box-shadow: 10px 20px 30px 0 rgba(0, 0, 0, 0.2);
  }
  .slider{
    width: 255px;
    height: 150px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    img{width: 100%; height: 100%; object-fit: cover;}
    .item{height: 150px;}
  }
  .slick-arrow{position: absolute; top: 0; text-indent: -9999px; border: none;}
  .slick-prev{left: 0;}
  .slick-next{right: 0;}
  .info{
    padding: 15px;
    background-image: linear-gradient(75deg, #eb008b, #652d90);
    .author{margin-right: 20px;}
    &:after{
      content: "";
      width: 36px; height: 16px;
      display: block;
      background-image: linear-gradient(75deg, #eb008b, #652d90);
      -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      position: absolute;
      bottom: -16px; left: 50%; transform: translateX(-50%);
    }
  }
  .phone_add{
    color: #fff;
    p{display: flex; align-items: center; -webkit-align-items: center; margin-bottom: 4px; font-size: 12px;}
    ion-icon{margin-right: 4px;}
  }
}
/*end*/

//footer
footer{
  height: 90px;
  .container{
    height: 100%;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .logo{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    img{max-width: 120px; opacity: 0.2;}
  }
  .text p{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    color: var(--greyish-brown);
    line-height: 22px;
  }
  ion-icon{font-size: 18px; color: var(--barney); margin-left: 5px;}
  .menuf{
    li{margin: 0 20px;}
    li:last-child{margin-right: 0;}
    a{font-weight: 500; color: var(--greyish-brown);}
    a:hover{color: var(--barney);}
  }
}
//end

@media (max-width: 1430px) {
  main{width: 100%;}
  .slider_album_week{
    width: 100%;
    .content{width: 98.3%;}
    .author{margin-left: 0;}
  }
}

/*slick js*/
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/*end*/

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0;
  }
}

