body{
  font: 12px 'Quicksand', sans-serif;
  font-weight: 500;
}

@mixin block($display,$width,$height){
  display: $display;
  width: $width;
  height: $height;
}
.container{max-width: 100%;}
main.category{padding: 20px 0;}
.top-body .navbar-toggler{display: block;}

@media (min-width: 320px) and (max-width: 767px) {
  .container{max-width: 100%;}
  h2{font-size: 22px; margin-bottom: 25px;}
  //header
  .bar-link{display: none;}
  .top-bar .social,.top-body .logo{
    position: relative;
    left: 0;
    transform: translateX(0);
  }
  .top-bar{
    .social{
      margin-right: 40px;
      li{margin: 0 8px;}
    }
  }
  .navbar-toggler{
    position: absolute; top: -2px; right: 0;
    ion-icon{font-size: 30px; color: var(--greyish);}
  }
  .top-body{
    height: 75px;
    .logo a{@include block(block,90px,36px); background-size: 90px 36px;}
    .navbar-collapse{
      width: 100%;
      position: absolute;
      top: 40px;
      background: #fff;
      margin-left: -15px;
      z-index: 90;
    }
    .menu{
      padding-bottom: 15px; flex-direction: column; -webkit-flex-direction: column;
      li:first-child{margin-left: 16px;}
      li a{
        display: block;
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid var(--white-two);
      }
    }
  }
  .login .buttons{
    a:after{display: none;}
    a{font-size: 14px; font-weight: 700;}
    .btn-register{
      width: auto;
      height: 35px;
      margin-left: 10px;
      font-weight: bold;
      border: none;
      &:hover span{color: var(--barney) !important;}
    }
    .btn-login{
      width: auto; height: 35px;
      &:hover{border: none; background-image: none;}
    }
  }
  .top-register{
    height: auto;
    padding: 10px 0;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    .logo img{max-width: 100px;}
    .title{margin: 10px 0; font-size: 15px;}
  }
  .login .get_nf{margin-right: 15px;}

  //main
  .td_dev{margin: 25px 0 25px 0;}
  .tab{
    margin-bottom: 25px;
    margin-top: 0;
    li{margin: 0 5px;}
    span{padding:  0 8px;}
  }

  // slider album week
  .slider_album_week{
    .slick-track{display: flex; align-items: center;}
    .item-slide{height: 195px;}
    .statistical{margin: 10px 0 0 0;}
    .post{
      .category{margin-bottom: 8px;}
      h3{width: 85%; margin-bottom: 5px;}
      &-title{font-size: 16px;}
      &:before{width: 97%;}
    }
    .post-detail{left: 15px;}
    .author{right: 15px;}
  }
  .service_around{display: none;}
  .clothes .thumb{height: 400px;}
  .collection{
    .slide-service .item{margin: 0;}
  }
  // profile

  // service list
  .tab_category{margin: 20px 0;}
  .header-service{
    .select{margin-bottom: 15px;}
    .tab_service{
      margin-bottom: 15px;
      li{margin: 0 6px 6px;}
      span{padding: 0 8px;}
    }
    .filter{
      &-item{margin: 0 10px 10px 0 !important;}
    }
  }
  .service_item{
    padding: 15px 0;
    .avatar{width: 80px; height: 80px; margin-right: 12px;}
    .s_author{
      margin-bottom: 15px;
      h4{margin-bottom: 6px; font-size: 16px;}
    }
    .book{width: 115px; height: 35px;}
    .package{
      h4{margin-bottom: 10px;}
      li{height: 45px; padding: 0 10px;}
    }
  }
  .slide-service{
    margin-right: 0;
    .item{margin: 0 2px;}
    .slick-arrow{width: 26px;}
    .slick-next{right: 2px;}
    .slick-prev{left: 2px;}
    &:after{display: none;}
  }
  .detail-makeup{
    padding: 15px 15px 0;
    .item{
      h5{width: 25%;}
      strong,p{width: 70%;}
    }
  }
  .table_price{
    tbod td{padding: 15px 5px;}
  }
  .package-photo{width: 100%; margin-bottom: 25px;}


// register
  .register{
    width: 100%;
    input,select{height: 45px;}
    padding: 20px 15px;
    .login_facebook,.register_facebook{
      .btn_login{width: 100%;}
    }
  }
  .register_service{
    h4{margin-bottom: 20px; font-size: 20px;}
    .info_pay .group{width: 100%;}
    .rules{width: 100%;}
    button[type="submit"]{padding: 0 40px;}
  }
  .register.success{
    h2.title-success{font-size: 30px;}
    p{font-size: 14px;}
  }

  // popup
  #book-canlendar-clothes .select_time{width: 48%;}
  .popup{
    top: 6%;
    h2{font-size: 22px;}
  }
  .close-popup{right: -5px; top: -30px;}
  .popup-login{
    h2{padding: 15px 0 15px 15px;}
    form{padding: 25px 15px 5px;}
    .frm_group{margin-bottom: 20px;}
    .frm_group input{height: 45px;}
    .tab_login{
      height: 50px;
      a{line-height: 50px; padding: 0 15px; font-size: 16px;}
    }
    .login_facebook{
      padding: 0 15px;
      .btn-login{height: 45px;}
    }
    a.rs_new{margin-top: 25px;}
  }
  .popup-register{
    padding: 30px 15px;
    label{height: 50px;}
    .select_register{width: 90%; margin: 0 auto;}
  }
  .popup-book-calendar{
    padding: 20px 0 20px;
    margin-bottom: 40px;
    h2{margin-bottom: 20px;}
    .popup-content{padding-bottom: 20px;}
    .header{
      padding: 0 15px;
      > div{width: 48%; margin-bottom: 15px;}
      select{padding: 0 5px; width: 100%; height: 40px;}
      h5{margin-bottom: 8px;}
      .name{font-size: 14px;}
      .price span{font-size: 20px;}
    }
    .box-select{
      margin: 0;
      position: relative; right: 0; top: 0;
      justify-content: center; -webkit-justify-content: center;
      .select_hour{margin: 0 0 10px 0; min-width: 70%;}
    }
    .list_status{
      .text_st{margin-bottom: 10px;}
    }
    .bottom{
      .next{height: 45px; margin-top: 10px;}
      .next span{padding: 0 16px;}
    }
    .close-popup{
      right: 0; top: -30px; font-size: 16px;
      ion-icon{font-size: 30px;}
    }
    .info_day_makeup{padding: 0 15px;}
    .select_number_day{
      li{border: 1px solid var(--greyish); width: 28px; height: 28px; margin-bottom: 5px;}
      span{font-size: 16px; font-weight: 500;}
    }
  }
  .booking_process{
    margin-bottom: 40px;
    padding: 25px 10px;
    h2{margin-bottom: 25px;}
    .content_type_pay{
      article{padding: 15px;}
      ion-icon{margin: 0 14px;}
    }
    .info_type_pay{
      span.price{font-size: 18px; margin-top: 10px;}
      span{font-size: 13px;}
    }
    .info_package{
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      margin-bottom: 25px;
      p{margin: 0 10px;}
      span{display: block; margin-top: 4px; font-size: 14px;}
    }
    .tab_method_pay{
      flex-wrap: nowrap; -webkit-flex-wrap: nowrap;
      li{margin: 0 5px 10px;}
      span{padding: 0 8px;}
    }
    .content_method_pay{
      article{padding: 10px;}
    }
    .pay_direct{
      margin-left: 0;
      h5{width: 30%;}
      p{width: 65%}
    }
    .step3{
      .success{margin-top: 25px; width: 100px; height: 98px; background-size: 100px 98px;}
      .info_package{margin: 25px 0;}
      .btn_view{width: 280px; font-size: 16px;}
      .note{font-size: 16px;}
    }
  }
  .popup-detail-post{
    .slider-for{
      width: 100%;
      .slick-slide{height: 400px;}
      .thumb img{object-fit: cover;}
    }
    .detail-post{padding: 20px 0;}
    a.book{margin-left: 20px; height: 40px;}
    a.book span{padding: 0 15px;}
    .author .name{font-size: 16px;}
    .social a{margin-right: 20px; margin-bottom: 5px;}
  }

  //tab line
  .tab_line{
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    li a{font-size: 14px; padding: 0 10px;}
  }
  .tab li{margin-bottom: 5px;}

  // enduser order history
  .scroll_mobile{overflow-x: auto;}
   table.history{min-width: 700px;}
  .change-pass, .popup-edit-info{
    padding: 25px 15px;
    input[type="password"],input{width: 100%; height: 45px;}
  }

  .tab_content_category{
    .list_status{
      position: relative;
      p{margin-bottom: 5px;}
    }
    .cld_body .full_day input:checked + span{width: 15px; height: 14px; background-size: 15px 14px;}
  }

    // calendar
  .month_year{font-size: 20px; padding: 0 8px;}
  .cld_curent{margin: 15px 0 10px 5px;}
  .cld_body .time{width: 16px; height: 16px; font-size: 11px; right: 2px; top: 2px; line-height: 16px;}
  .cld_body .half_day{
  > li h4{font-size: 10px; padding-left: 3px;}
    li.active{border: 1px solid transparent;}
    input:checked + span{
      width: 8px;
      height: 7px;
      background-size: 8px 7px;
      margin: 0 0 0 3px;
    }
  }
  .cld_body{
    .full_day{
      li.active{border: 1px solid transparent;}
      input:checked + span{width: 15px; height: 14px; background-size: 15px 14px;}
    }
    .day_selected ion-icon,.wait_pay ion-icon{font-size: 24px;}
    .wait_pay{
      span{top: -100%; right: 0; width: 300%; padding: 5px; white-space: normal; line-height: 16px; text-align: center;}
      span:after{
        border-width: 8px; bottom: -16px; left: 80%;
        border-color: #841c6f transparent transparent transparent;
      }
    }
  }
  .cld_head{
    > li{font-size: 12px; padding-right: 5px;}
  }
  .cld_body > li{height: 50px;}
  .cld_body .selected.sl_half_day .day_selected{background: var(--white-three);}
  .cld_body .wait.sl_half_day .wait_pay{background: var(--greyish);}

  // creat album

  .photo_create_album{padding: 20px 0;}
  .multiple{
    height: 300px;
    .drag{width: 270px; height: 270px;}
    .drag ion-icon{font-size: 60px; margin-bottom: 15px;}
  }
  .create_album{
    .frm_group{width: 100%; margin-top: 15px;}
    .fieldset{padding: 0 15px 20px;}
    .frm_group:nth-child(1){margin-top: 55px;}
    .des{position: relative; top: 0; right: 0;}
    input[type="text"],select,textarea{width: 100%;}
    input[type="file"]{height: 118%;}
  }
  .image-holder{
    justify-content: center; -webkit-justify-content: center; padding: 10px 0 0;
    img{margin: 0 5px 10px; width: 100px; height: 80px; object-fit: contain;}
  }
  .file_input{
    min-height: 300px;
    .add_image{font-size: 16px; width: 150px; height: 45px; bottom: -55px; right: 15px;}
  }


  // detail photo combo
  .header-detail{
    justify-content: space-between;
    -webkit-justify-content: space-between;
    h4{position: relative; left: 0; transform: translateX(0); font-size: 14px;}
  }
  .info-title{
    height: auto;
    padding: 10px 15px;
    h2{font-size: 16px; padding: 5px 0;}
    a.back{padding: 5px 0;}
    .date time{font-size: 14px;}
    .link-detail{display: block; text-align: left; margin: 10px 0 0;}
  }
  .listInfo-photo{
    padding: 15px 15px 0;
    p{font-size: 14px;}
    .price{font-size: 18px;}
  }
  .detail_package{
    .listInfo{
      li{padding: 15px;}
      p{font-size: 14px;}
      .note{margin: 10px 0 0;}
      .price span{font-size: 18px;}
      .nt span{font-size: 14px;}
    }
    .info-package .listInfo-photo{width: 100%;}
  }

  .info-book-canlendar{
    .listInfo-photo{width: 100%;}
    h5{width: 130px; font-size: 14px;}
  }

  .change-calendar{
    height: 45px; font-size: 16px; width: 200px;
  }

  /*commbo setting*/
  .combo_setting{
    .list-item{
      li{width: 100%; padding: 10px; margin-bottom: 15px;}
      h5{font-size: 14px;}
    }
    .item-setting{
      h4{font-size: 26px; margin-bottom: 15px;}
    }
  }

  // footer
  footer{
    height: auto;
    padding: 10px 0;
    text-align: center;
    .container{ justify-content: center;}
    .container > div,.container > ul{margin-bottom: 10px; flex-basis: 100%;}
    .text p{display: block; text-align: center;}
    .menu-footer{
      justify-content: center;
      li{margin-bottom: 5px;}
    }
  }
}


@media (orientation: landscape) {
  .slider_album_week{
    .item-slide{height: 300px;}
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .collapse{display: block; flex-basis: auto;}
  .navbar-toggler{display: none !important;}
  .slider_album_week{
    .item-slide{height: 300px;}
  }
  .service_around{display: none;}

  .top-register{
    .title{font-size: 24px;}
  }
  //calendar
  .month_year{font-size: 24px; padding: 0 10px;}

  //list service
  .service_item{
    padding: 15px 0;
    .s_author{margin-bottom: 15px;}
    .package h4{margin-bottom: 10px;}
  }
  .chatContact{margin-top: 15px;}
  .collection{
    .slide-service .item{margin: 0 3px;}
    .slick-next{right: 3px !important;}
    .slick-prev{left: 3px !important;}
  }
  // popup book calendar
  .popup-book-calendar{
    .close-popup{right: 0; top: -40px;}
    max-width: 94%;
    .box-select{
      .select_hour{min-width: 205px; margin-right: 60px;}
    }
  }

  // booking progress
  .booking_process{
    margin: 30px; padding: 40px;
    .content_type_pay article{padding: 30px;}
  }

  // popup-detail-post
  .popup-detail-post{
    .social a{margin: 0 20px 10px 0;}
  }

  // register
  .register{
    .login_facebook,.register_facebook{
      .btn_login{max-width: 300px;}
    }
  }
  .register_service{
    padding: 30px;
    fieldset{width: 48%;}
  }

  .info-book-canlendar h5{width: 160px;}
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .slider_album_week{
    .item-slide{height: 315px;}
  }
  .navbar-toggler{display: none !important;}
  .collapse{flex-basis: auto; display: block;}
  .profile{
    .book a,.buttons a{width: 200px;}
  }

}

@media (min-width: 320px) and (max-width: 1024px) {
  .login .list_nf, .login .option_user{left: -20px;}
  .top-bar{
    .hotline{font-weight: bold; font-size: 14px;}
  }
  .booking_process{
    .tab_type_pay{
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }
    .info_type_pay{
      flex-wrap: nowrap; -webkit-flex-wrap: nowrap;
      justify-content: space-between; -webkit-justify-content: space-between;
      ion-icon{margin: 0 15px;}
    }
    .bottom a.next {
      height: 45px; margin-right: 0;
      span{padding: 0 10px;}
    }
    .bottom a.back{margin-left: 0;}
  }
  .chatContact{
    width: 100%; justify-content: flex-end; -webkit-justify-content: flex-end;
    position: relative; right: 15px; bottom: 0 !important;
    a{width: 50px; height: 50px;}
    a:after{width: 20px; height: 21px; background-size: 20px 21px;}
  }
  .header-service{
    height: auto;
    margin-bottom: 5px;
    .filter{margin-bottom: 15px;}
    .tab_service{margin-bottom: 10px;}
  }
  .slide-service{
    margin-right: 0;
    .item{margin: 0 2px;}
    .slick-arrow{width: 26px;}
    .slick-next{right: 2px;}
    .slick-prev{left: 2px;}
    &:after{display: none;}
  }
  .tab_line,.tab{
    li:nth-child(1){margin-left: 0;}
  }
  .collection{
    .slide-service{
      height: 220px; margin: 0 15px;
      .thumb,.item{height: 220px;}
      &:after{display: none;}
      .slick-next{right: 0;}
    }
    .s_author{margin: 0 0 30px 15px; padding-right: 30px;}
  }

  .create_combo{
    width: 100%;
    margin: 15px auto;
    label,h5{font-size: 14px; white-space: nowrap;}
    .price{
      input{width: 58%; font-size: 18px;}
    }
    .frm_group{padding: 15px 10px;}
    .frm_group.des{
      padding: 0 10px;
      textarea{margin-bottom: 15px;}
    }
    .group_submit{padding: 15px;}
    p{margin:0 0 0 15px; display: flex; display: -webkit-flex;}
    input{width: 80%;}
    .note{font-size: 12px; margin: 15px 0 0 0 !important;}
  }
  .header-detail{margin-top: 15px;}

  .listInfo-photo{
    .thumb_avatar{
      flex-wrap: nowrap; -webkit-flex-wrap: nowrap;
      .name{font-size: 14px;}
    }
  }

  .close-popup{
    right: 0 !important; top: -32px; font-size: 16px; opacity: 1;
    ion-icon{font-size: 30px;}
  }
}


@media (max-width: 375px) {
  .popup-book-calendar{margin: .5rem 5px 40px;}
  .cld_body{
    .half_day > li h4{font-size: 9px;}
    .time{top: 1px; right: 1px;}
  }
  .popup-book-calendar{
    .info_day_makeup .group{width: 100%;}
  }
}