* {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

button:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6, table, p, ul {
  margin: 0;
  padding: 0;
  font-size: inherit; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

a:focus {
  outline: none; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

input:focus {
  outline: none; }

[hidden] {
  display: none; }

.pr {
  position: relative; }

a, a:hover {
  text-decoration: none; }

a:hover {
  color: var(--barney); }

a {
  transition: 0.3s; }

li {
  list-style: none; }

.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

body {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1rem;
  background: #e5e5e5; }

.wrapper {
  width: 100%;
  overflow: hidden; }

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030; }

header {
  border: 0;
  padding: 0.625rem 0;
  margin-bottom: 20px;
  color: #555;
  background-color: #fff;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  transition: all .15s ease 0s; }
  header .navbar-brand {
    display: inline-block;
    height: 50px;
    color: #555;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    position: relative; }
  header .navbar {
    padding: 0; }
  header .navbar-toggler {
    position: relative; }
    header .navbar-toggler span {
      width: 22px;
      height: 2px;
      display: block;
      background: #555; }
    header .navbar-toggler span + span {
      margin-top: 4px; }

.header-transparent {
  background-color: transparent;
  box-shadow: none;
  padding-top: 25px;
  color: #fff; }
  .header-transparent .navbar-nav .nav-item .nav-link {
    color: #fff; }
  .header-transparent .navbar-brand {
    color: #fff; }
  .header-transparent .navbar-toggler span {
    background: #fff !important; }

.navbar-nav .sub-menu {
  display: block;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 11rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  padding: .3125rem 0;
  border: 0;
  opacity: 0;
  transform-origin: 0 0;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 0.25rem; }

.navbar-nav .sub-menu a {
  padding: 10px 1.25rem 10px .75rem;
  margin: 0 .3125rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: #333;
  font-weight: 400;
  font-size: .8125rem;
  transition: all .15s linear;
  min-width: 7rem;
  text-transform: capitalize; }
  .navbar-nav .sub-menu a:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    background-color: #9c27b0;
    color: #fff;
    border-radius: 3px; }
  .navbar-nav .sub-menu a i {
    margin-right: 12px;
    margin-top: -4px;
    position: relative;
    top: 1px;
    opacity: 0.5; }

.navbar-nav > li {
  position: relative; }

.navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: #555;
  position: relative;
  padding: 0.9375rem;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px; }
  .navbar-nav .nav-item .nav-link:after {
    content: "";
    display: inline-block;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    width: 0;
    height: 0;
    margin-left: .455em;
    vertical-align: .255em;
    transition: transform .15s linear; }
  .navbar-nav .nav-item .nav-link .material-icons {
    font-size: 20px;
    max-width: 24px; }
  .navbar-nav .nav-item .nav-link i {
    margin-right: 3px; }

.navbar-nav .nav-item.show .sub-menu {
  display: block;
  transform: scale(1);
  opacity: 1; }

.navbar-nav .nav-item.show a:after {
  transform: rotate(180deg); }

.page-header {
  height: 90vh;
  overflow: hidden;
  background: url("../images/bg0.jpg");
  transform: translate3d(0px, 0px, 0px);
  background-position: 50% !important;
  background-size: cover !important;
  display: flex;
  align-items: center; }
  .page-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.88), rgba(208, 44, 180, 0.31)); }
  .page-header .brand {
    color: #fff;
    text-align: center;
    z-index: 2; }
  .page-header h1 {
    margin: 20px 0 10px 0;
    font-size: 4.2rem;
    font-weight: 600;
    display: inline-block;
    position: relative; }
  .page-header .pro-badge {
    padding: 10px 18px;
    background: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 22px;
    color: #444;
    line-height: 22px;
    box-shadow: 0 5px 5px -2px rgba(31, 31, 31, 0.4);
    position: absolute;
    right: -90px;
    top: -3px; }
  .page-header h3 {
    font-size: 1.313rem;
    max-width: 500px;
    margin: 10px auto 0;
    font-weight: 700;
    font-family: Roboto Slab,Times New Roman,serif; }

.main-raised {
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  z-index: 6; }

.section {
  padding: 70px 0; }
  .section .description {
    margin: 10px 0;
    font-size: 1.5em;
    color: #999;
    line-height: 1.5em; }

.features-1 {
  padding: 70px 0 30px 0;
  text-align: center; }
  .features-1 .icon i {
    font-size: 61px; }
  .features-1 .icon-success {
    color: #4caf50; }
  .features-1 .icon-info {
    color: #00bcd4; }
  .features-1 .icon-rose {
    color: #e91e63; }
  .features-1 h4 {
    margin: 1.75rem 0 .875rem;
    color: #3c4858;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: Roboto Slab,Times New Roman,serif; }
  .features-1 p {
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 10px;
    color: #999; }

.section-components .title {
  margin: 60px 0 5px 0;
  color: #3c4858; }

.section-components .description {
  margin: 5px 0 30px 0;
  color: #999; }

.section-components p {
  margin-top: 35px;
  color: #999;
  font-size: 1.0625rem;
  line-height: 1.55em;
  margin-bottom: 15px; }

.section-components .image-container {
  height: 560px;
  position: relative; }
  .section-components .image-container img {
    position: absolute;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
  .section-components .image-container .components-macbook {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100px;
    box-shadow: none; }
  .section-components .image-container .table-img {
    left: -13%;
    top: 27%;
    height: 175px;
    border-radius: 2px;
    animation: 14s ease-in-out Floatingx infinite; }
  .section-components .image-container .share-btn-img {
    left: 3%;
    top: -3%;
    height: 25px;
    animation: 11s ease-in-out Floatingy infinite; }
  .section-components .image-container .coloured-card-btn-img {
    left: 35%;
    top: 2%;
    height: 125px;
    border-radius: 6px;
    animation: 18s ease-in-out Floatingy infinite; }
  .section-components .image-container .coloured-card-img {
    left: 90%;
    top: 11%;
    height: 90px;
    border-radius: 2px;
    animation: 10s ease-in-out Floatingx infinite; }
  .section-components .image-container .social-img {
    left: 70%;
    top: 67%;
    height: 40px;
    animation: 16s ease-in-out Floatingx infinite; }
  .section-components .image-container .pin-btn-img {
    left: 0%;
    top: 68%;
    height: 25px;
    border-radius: 3px;
    animation: 15s ease-in-out Floatingy infinite; }

.section-cards {
  padding: 50px 0; }
  .section-cards .image-container {
    max-width: 1040px;
    margin-top: -140px;
    position: relative;
    height: 660px; }
    .section-cards .image-container img {
      max-width: 1040px;
      width: auto;
      position: absolute;
      top: 0;
      right: 0; }
  .section-cards .description {
    margin: 10px 0; }
  .section-cards .text-des {
    margin-top: 10px; }
  .section-cards .des-section {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.section-content .section-description {
  margin-top: 100px; }

.section-content .image-container {
  max-width: 900px;
  position: relative; }
  .section-content .image-container .ipad-img {
    width: 100%;
    transition: transform .6s .9s;
    z-index: 1;
    position: relative;
    box-shadow: none;
    opacity: 1;
    transform: translate3D(0px, 0, 0px); }
  .section-content .image-container img {
    position: absolute;
    transition: all 1s ease-out 0s;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translate3D(0px, 100px, 0px);
    z-index: 2; }
  .section-content .image-container .area-img {
    top: 10%;
    left: 60%;
    height: 300px;
    width: 250px; }
  .section-content .image-container .info-img {
    top: 50%;
    left: 0%;
    height: 200px;
    width: 300px; }
  .section-content .image-container .show-img {
    animation-duration: 1s;
    animation-fill-mode: both;
    transform: translate3D(0px, 0px, 0px) !important;
    -webkit-transform: translate3D(0px, 0px, 0px) !important;
    opacity: 1 !important; }

.section-sections {
  padding-bottom: 0;
  margin-bottom: -35px; }
  .section-sections .section-description {
    text-align: center;
    margin-bottom: 60px; }
    .section-sections .section-description .title {
      font-size: 2.25rem;
      line-height: 1.5em;
      margin-bottom: 1rem; }
    .section-sections .section-description .text-des {
      margin-top: 0; }
  .section-sections .sections-img {
    margin-left: -15px;
    margin-right: -15px; }
    .section-sections .sections-img li {
      width: 25%;
      padding: 7.5px; }
    .section-sections .sections-img img {
      width: 100%;
      border-radius: 3px;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
      .section-sections .sections-img img:hover {
        transform: scale(1.02); }

.section-examples .section-description {
  text-align: center;
  margin-bottom: 60px; }
  .section-examples .section-description .title {
    font-size: 2.25rem;
    line-height: 1.5em;
    margin-bottom: 1rem; }
  .section-examples .section-description .text-des {
    color: rgba(255, 255, 255, 0.76); }

.section-examples .card-item .title {
  min-height: 32px;
  margin: 30px 0 15px 0;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5em; }

.section-examples .card-item img {
  width: 100%;
  border-radius: 4px; }

.section-examples .card-item a {
  display: block;
  margin: 30px 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.section-examples .card-item a:hover {
  transform: translate3d(0, -10px, 0); }

.section-free-demo .section-description .title {
  font-size: 2.25rem;
  line-height: 1.5em;
  margin: 15px 0 1rem 0; }

.section-free-demo .section-description .text-des {
  margin-top: 0; }

.section-free-demo .icon-github {
  color: #777;
  font-size: 82px; }
  .section-free-demo .icon-github i {
    font-size: inherit; }

.section-free-demo .card-title {
  margin: 30px 0 .75rem 0;
  color: #3c4858;
  font-size: 1.5625rem;
  line-height: 1.4em; }

.section-free-demo .card_pricing {
  display: inline-block;
  width: 45%; }
  .section-free-demo .card_pricing:nth-child(1) {
    margin-right: 8%; }
  .section-free-demo .card_pricing li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999;
    padding: 12px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3); }
  .section-free-demo .card_pricing li b {
    margin-right: 5px;
    color: #3c4858;
    font-weight: 700;
    text-align: center;
    display: inline-block; }
  .section-free-demo .card_pricing li i {
    margin-right: 5px; }

.features-5 {
  padding: 80px 0;
  background: url("../images/features-5.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }
  .features-5 .container {
    position: relative;
    z-index: 2; }
  .features-5 .title {
    width: 100%;
    margin: 30px 0;
    color: #fff;
    font-size: 2.25rem;
    line-height: 1.5em;
    text-align: center; }
  .features-5 .list-info article {
    width: 25%;
    padding: 70px 15px 30px;
    color: #fff;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.35); }
  .features-5 .list-info article:last-child {
    border-right: none; }
  .features-5 .list-info .info-title {
    margin: 1.75rem 0 .875rem;
    font-size: 1.125rem;
    line-height: 1.5em; }
  .features-5 .list-info i {
    font-size: 3.5em; }
  .features-5:after {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
    left: 0;
    top: 0; }

.testimonials {
  padding: 50px 0 0; }
  .testimonials .title {
    margin: 30px 0 1rem 0; }
  .testimonials .text-des {
    margin: 10px 0 70px 0; }
  .testimonials b {
    font-weight: bold;
    color: #999; }
  .testimonials .card-profile {
    margin: 30px 0; }
    .testimonials .card-profile .avatar {
      width: 25%;
      display: block;
      padding-right: 15px; }
    .testimonials .card-profile .avatar img {
      width: 100%;
      border-radius: 6px;
      box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .testimonials .card-profile .card-body {
      width: 75%;
      padding: 0.9375rem 15px; }
    .testimonials .card-profile p {
      font-size: 16px;
      line-height: 1.6em;
      color: #999; }

.our-clients {
  text-align: center; }
  .our-clients li {
    width: 25%;
    padding: 0 15px; }
  .our-clients img {
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
    display: inline-block; }

.page-header.header-small {
  height: 65vh; }
  .page-header.header-small h1 {
    font-size: 3.3125rem;
    line-height: 1.15em; }

.page-header.header-full {
  height: 100vh; }
  .page-header.header-full h1 {
    font-size: 3.3125rem;
    line-height: 1.15em; }

.page-header.about-us {
  background: url("../images/bg9.jpg"); }
  .page-header.about-us:after {
    background: rgba(0, 0, 0, 0.5); }

.page-header .container {
  z-index: 2; }

.page-header .title, .page-header h4 {
  color: #fff; }

.about-description {
  padding-top: 70px; }
  .about-description .description {
    text-align: center; }

.about-team {
  padding: 80px 0; }
  .about-team .description {
    margin-bottom: 60px; }
  .about-team .card-profile {
    margin: 30px 0;
    text-align: center; }
  .about-team .avatar {
    display: block;
    margin: 0 auto;
    max-width: 130px;
    max-height: 130px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .about-team .avatar img {
      width: 100%;
      height: auto; }
  .about-team .card-title {
    margin: .625rem 0 .75rem 0;
    color: #3c4858; }
  .about-team .card-body {
    padding-right: 5px;
    padding-left: 5px; }
  .about-team .card-footer {
    margin-top: -15px;
    padding: 0 5px;
    border-top: none;
    justify-content: center; }
    .about-team .card-footer i {
      font-size: 20px;
      padding: 12px; }
    .about-team .card-footer .btn-google {
      color: #dd4b39; }
    .about-team .card-footer .btn-twitter {
      color: #55acee; }
    .about-team .card-footer .btn-dirbble {
      color: #ea4c89; }
  .about-team .career {
    margin: 10px 0;
    color: #6c757d !important;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500; }
  .about-team .text-des {
    font-size: 14px;
    margin-bottom: 10px;
    color: #999; }

.about-service {
  padding: 10px 0 80px 0; }
  .about-service .description {
    margin-bottom: 60px; }
  .about-service i {
    width: 14%;
    color: #e91e63;
    font-size: 2.25rem;
    display: block;
    float: left; }
  .about-service .info-description {
    display: block;
    width: 76%;
    float: left; }
  .about-service .info-title {
    color: #3c4858;
    margin: .35rem 0 .875rem; }
  .about-service p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999; }

.about-office .description {
  margin-bottom: 60px; }

.about-office img.img-office {
  width: 100%;
  height: auto;
  margin: 20px 0;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px; }

.about-contact {
  padding: 60px 0; }
  .about-contact .description {
    margin: 50px 0 70px 0; }
  .about-contact .form-group {
    width: 33.33%;
    padding: 27px 15px 0;
    position: relative; }
    .about-contact .form-group label {
      left: 15px; }
    .about-contact .form-group select {
      height: 36px !important; }
  .about-contact .form-control {
    height: 36px; }
  .about-contact .form-control {
    background-image: linear-gradient(0deg, #9c27b0 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0); }
  .about-contact .form-submit {
    padding-top: 0; }
  .about-contact .btn-primary {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12); }
    .about-contact .btn-primary:hover {
      box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2); }

.page-header.blog-post {
  background: url("../images/bg5.jpg"); }
  .page-header.blog-post:after {
    background: rgba(0, 0, 0, 0.5); }
  .page-header.blog-post .btn-view {
    width: 185px;
    margin-left: auto;
    margin-right: auto; }
  .page-header.blog-post i {
    margin-right: 5px; }

.section-text {
  padding-bottom: 0; }
  .section-text h3.title {
    margin-bottom: 10px; }
  .section-text p {
    font-size: 1.188rem;
    line-height: 1.5em;
    color: #555;
    margin-bottom: 30px; }
  .section-text .blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee; }
    .section-text .blockquote p {
      font-size: 1.5rem;
      font-style: italic; }
    .section-text .blockquote small {
      color: #777; }
  .section-text .blog-image li {
    width: 33.33%;
    padding: 0 15px; }
  .section-text .blog-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.section-blog-info {
  padding: 30px 0; }
  .section-blog-info .badge {
    border-radius: 12px;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff; }
  .section-blog-info .badge.badge-primary {
    background: #9c27b0; }
  .section-blog-info .social-button a {
    border-radius: 30px;
    color: #fff; }
  .section-blog-info .social-button .btn-google {
    background-color: #dd4b39;
    border-color: #dd4b39;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12); }
  .section-blog-info .social-button .btn-twitter {
    background-color: #55acee;
    border-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12); }
  .section-blog-info .social-button .btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12); }
  .section-blog-info .info-inner {
    justify-content: space-between;
    align-items: center; }
  .section-blog-info .card-profile {
    margin-right: -15px;
    margin-left: -15px; }
    .section-blog-info .card-profile .card-avatar {
      width: 16.67%;
      padding: 0 15px; }
      .section-blog-info .card-profile .card-avatar img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .section-blog-info .card-profile .card-body {
      width: 66.667%;
      padding: 0 15px; }
    .section-blog-info .card-profile p {
      color: #999;
      font-size: 1rem; }
    .section-blog-info .card-profile .title {
      margin: .625rem 0 .75rem 0; }
  .section-blog-info .btn-fllow {
    height: 40px;
    margin-top: 25px;
    background-color: #919191;
    color: #fff;
    border-radius: 30px; }

.section-blog-components h3.title {
  text-align: center;
  margin: 30px 0; }

.section-blog-components .avatar {
  margin-right: 25px; }
  .section-blog-components .avatar img {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.section-blog-components .comment {
  flex-wrap: nowrap; }
  .section-blog-components .comment .title {
    margin-bottom: 10px; }
  .section-blog-components .comment .title span {
    font-size: 75%;
    color: #777;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400; }
  .section-blog-components .comment p {
    color: #555;
    font-size: 1rem;
    line-height: 1.6em; }
  .section-blog-components .comment .action {
    justify-content: flex-end;
    margin-bottom: 20px; }
    .section-blog-components .comment .action i {
      font-size: 1.1rem;
      vertical-align: middle;
      margin-right: 3px; }
    .section-blog-components .comment .action li:nth-child(1) a {
      color: #f44336; }
    .section-blog-components .comment .action li:nth-child(2) a {
      color: #9c27b0; }

.section-blog-components .reply-comment {
  flex-wrap: nowrap; }

.post-comment {
  flex-wrap: nowrap; }
  .post-comment form {
    width: 100%; }
  .post-comment .form-control {
    background: no-repeat bottom, 50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: none; }
  .post-comment .avatar {
    padding: 15px 0;
    max-height: 94px; }
  .post-comment .btn-post {
    border-radius: 30px;
    color: #fff;
    margin-top: 17px;
    float: right;
    background-color: #9c27b0;
    border-color: #9c27b0;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12); }
    .post-comment .btn-post:hover {
      box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2); }
  .post-comment textarea {
    margin-top: 15px; }

.similar_stories .title {
  margin: 30px 0 50px 0;
  text-align: center; }

.similar_stories .card-blog {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 6px;
  margin: 60px 0 30px 0;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.similar_stories .card-header {
  padding: 0;
  position: relative;
  margin: -30px 15px 0 15px; }
  .similar_stories .card-header img {
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.similar_stories .card-title {
  margin-top: 0.625rem; }

.similar_stories .card-description {
  font-size: 14px;
  margin-bottom: 10px;
  color: #999; }

.page-header.pricing {
  background: url("../images/bg9.jpg"); }
  .page-header.pricing:after {
    background: rgba(0, 0, 0, 0.5); }

.pricing-2 {
  padding: 80px 0; }
  .pricing-2 .card-pricing {
    padding: 15px;
    text-align: center;
    border: none; }
    .pricing-2 .card-pricing .card-category {
      margin: 10px 0;
      color: #00bcd4 !important; }
    .pricing-2 .card-pricing .card-title {
      color: #3c4858;
      margin-top: 20px; }
      .pricing-2 .card-pricing .card-title small:first-child {
        position: relative;
        top: -17px;
        font-size: 26px;
        color: #777; }
      .pricing-2 .card-pricing .card-title small {
        font-size: 18px;
        display: inline-flex;
        height: 0; }
    .pricing-2 .card-pricing ul {
      margin: 10px auto;
      max-width: 240px;
      width: 100%; }
    .pricing-2 .card-pricing li {
      color: #999;
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px solid rgba(153, 153, 153, 0.3);
      font-size: 0.875rem; }
    .pricing-2 .card-pricing li:last-child {
      border-bottom: none; }
    .pricing-2 .card-pricing li b {
      color: #3c4858; }
    .pricing-2 .card-pricing b {
      font-weight: 700; }

.features-2 {
  padding: 80px 0; }
  .features-2 i {
    font-size: 2.25rem; }
  .features-2 .icon-info {
    color: #00bcd4; }
  .features-2 .icon-success {
    color: #4caf50; }
  .features-2 .icon-rose {
    color: #e91e63; }
  .features-2 .card-feature-2 {
    padding: 70px 0 30px;
    flex-wrap: nowrap; }
    .features-2 .card-feature-2 .icon {
      margin: 24px 10px 0 0; }
    .features-2 .card-feature-2 .title {
      margin: 1.75rem 0 .875rem; }
    .features-2 .card-feature-2 p {
      color: #999;
      font-size: 14px; }

.section-dark {
  background-color: #343434;
  background-size: cover;
  background-position: 50%;
  background: radial-gradient(ellipse at center, #585858 0, #232323 100%); }
  .section-dark .title {
    color: #fff; }
  .section-dark .section-description .title {
    color: #fff; }
  .section-dark .description, .section-dark p {
    color: rgba(255, 255, 255, 0.76); }

.title, .card-title, .info-title {
  font-weight: 700;
  font-family: Roboto Slab,Times New Roman,serif; }

.title {
  color: #3c4858; }

.form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg, #9c27b0 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0) !important; }
  .form-control:focus, .is-focused .form-control:focus {
    outline: none;
    box-shadow: none; }

.effect_border {
  position: relative;
  padding-top: 27px; }
  .effect_border label {
    position: absolute;
    margin: 0;
    pointer-events: none;
    transition: all .3s ease;
    color: #aaa;
    line-height: 1.4;
    font-weight: 400;
    font-size: .875rem;
    top: 2.3125rem;
    left: 0; }
  .effect_border .form-control {
    background: no-repeat bottom, 50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: none;
    transition: background 0s ease-out;
    font-size: 14px;
    padding: .4375rem 0;
    border-radius: 0; }
  .effect_border.focus label, .effect_border.filled label {
    top: 1rem;
    font-size: .6875rem; }
  .effect_border.focus .form-control, .effect_border.filled .form-control {
    background-size: 100% 100%,100% 100%;
    transition-duration: 0.3s; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.btn.btn-round {
  border-radius: 30px; }

a {
  color: #3e3947;
  text-decoration: none; }

h3 {
  font-size: 1.5625rem;
  line-height: 1.4em; }

h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
  font-weight: 300; }

h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
  margin-bottom: 15px;
  font-weight: 300; }

h6 {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 500; }

h2 {
  font-size: 2.25rem;
  line-height: 1.5em; }

h1 {
  font-size: 3.3125rem;
  line-height: 1.15em; }

h2.title {
  margin-bottom: 1rem; }

.text-des {
  font-size: 1.0625rem;
  line-height: 1.55em;
  margin-bottom: 15px; }

.btn {
  display: inline-block;
  position: relative;
  padding: 12px 30px;
  margin: .3125rem auto;
  font-size: .75rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn:focus {
    outline: none;
    box-shadow: none; }

.btn-view {
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
  border-radius: 30px; }
  .btn-view:hover {
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
    color: #fff; }

.btn.btn-rose {
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12); }
  .btn.btn-rose:hover {
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
    color: #fff; }

.section-description .title {
  margin: 30px 0 5px 0;
  color: #3c4858; }

.section-description .description {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px; }

.section-description .text-des {
  margin-top: 35px;
  color: #999;
  font-size: 1.0625rem;
  line-height: 1.55em;
  margin-bottom: 15px; }

.card.bg-rose {
  background: linear-gradient(60deg, #ec407a, #c2185b); }

.card[class*=bg-] {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  color: #fff; }
  .card[class*=bg-] .card-category, .card[class*=bg-] .card-title, .card[class*=bg-] small, .card[class*=bg-] b {
    color: #fff !important; }
  .card[class*=bg-] ul li {
    color: #fff; }
  .card[class*=bg-] .btn.btn-rose {
    background: #fff;
    color: #999; }
  .card[class*=bg-] li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

@-webkit-keyframes Floatingy {
  from {
    -webkit-transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(50px, 0); }
  to {
    -webkit-transform: translate(0, 0px); } }

@-moz-keyframes Floatingy {
  from {
    -moz-transform: translate(0, 0px); }
  65% {
    -moz-transform: translate(50px, 0); }
  to {
    -moz-transform: translate(0, 0px); } }

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(50px, 0px); }
  65% {
    -webkit-transform: translate(0, 0); }
  to {
    -webkit-transform: translate(50px, 0px); } }

@-moz-keyframes Floatingx {
  from {
    -moz-transform: translate(50px, 0px); }
  65% {
    -moz-transform: translate(0, 0); }
  to {
    -moz-transform: translate(50px, 0px); } }

footer {
  padding: .9375rem 0;
  text-align: center; }
  footer .container {
    display: flex;
    justify-content: space-between; }
  footer .footer-brand {
    padding: 15px;
    margin-left: -15px;
    color: #3c4858;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-family: Roboto Slab,Times New Roman,serif; }
  footer .footer-menu a {
    display: block;
    padding: .9375rem;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
    color: #3e3947; }
    footer .footer-menu a:hover {
      color: #9c27b0; }
  footer .social-button li {
    width: 43px;
    height: 43px;
    font-size: 24px;
    line-height: 41px; }
  footer .social-button li a {
    margin: 5px 0; }
  footer .social-button i {
    font-size: 20px; }
  footer .social-button li:nth-child(1) i {
    color: #55acee; }
  footer .social-button li:nth-child(2) i {
    color: #ea4c89; }
  footer .social-button li:nth-child(3) i {
    color: #125688; }
