* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

h1 {
  margin: 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

li {
  list-style: none; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

input:focus {
  outline: none; }

.pr {
  position: relative; }

a, a:hover {
  text-decoration: none; }

button:focus {
  outline: none; }

@font-face {
  font-family: NanumSquareB;
  src: url(../font/NanumSquareB.ttf); }

@font-face {
  font-family: NanumBarunGothic;
  src: url(../font/NanumBarunGothic.ttf); }

@font-face {
  font-family: OSHE_B;
  src: url(../font/OSeongandHanEum-Bold.ttf); }

body {
  font-size: 14px;
  font-family: Helvetica, sans-serif; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.header-top {
  width: 100%;
  height: 40px;
  background: #004363; }

.menu-top {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0; }
  .menu-top li {
    margin: 0 2px; }
  .menu-top a {
    display: block;
    color: #fff;
    font: 14px NanumSquareB;
    padding: 7px 10px; }
  .menu-top a.active {
    background: #002537;
    border-radius: 5px;
    padding: 7px 15px; }

.header-bottom {
  display: block;
  padding: 5px 0px; }

.navbar-collapse {
  background: #fff;
  /*position: absolute;*/
  z-index: 9;
  width: 100%;
  /* top: 50px;*/ }
  .navbar-collapse .nav-link {
    text-align: center;
    font-family: NanumSquareB;
    color: #3d3d3d !important;
    letter-spacing: -0.9px; }

.navbar-toggler {
  padding: 0;
  margin: 0;
  border: none; }

.navbar {
  padding: 0;
  background: none !important; }

.logo a {
  width: 179px;
  height: 47px;
  display: block;
  text-indent: -9999em;
  background: url("../images/logo-m.png") no-repeat; }

.search {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute; }
  .search input {
    width: 100%;
    height: 0;
    transition: 0.5s;
    padding: 0 37px 0 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    color: #c3c3c3; }
    .search input:focus {
      outline: 1px solid #00b3e3; }
  .search .button_search {
    width: 32px;
    height: 17px;
    display: none;
    background: url("../images/icon_search.png") no-repeat;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transition: .5s;
    transform: translateY(-50%);
    cursor: pointer; }
    .search .button_search:hover {
      filter: saturate(2); }
  .search i.form_close {
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%); }

.search.active {
  display: block; }
  .search.active input {
    height: 46px; }

.icon_search {
  width: 32px;
  height: 17px;
  display: block;
  background: url("../images/icon_search.png") no-repeat;
  position: absolute;
  top: 15px;
  right: 30px; }

/*main*/
.box-slider .slider-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2; }

.box-slider .slider {
  min-height: 400px; }

.box-slider .item, .box-slider .slick-list {
  height: 100%; }

.box-slider img {
  width: 100%;
  min-height: 400px;
  object-fit: cover; }

.box-slider .slider-control {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3; }
  .box-slider .slider-control .slick-arrow {
    width: 13px;
    height: 21px;
    display: block;
    border: none;
    text-indent: -9999em;
    background: url("../images/arrow.png") no-repeat;
    position: absolute;
    top: -1px;
    cursor: pointer; }
  .box-slider .slider-control .slick-prev {
    transform: rotate(180deg);
    left: -20px; }
  .box-slider .slider-control .slick-next {
    right: -20px; }

.box-slider ul.slick-dots {
  display: flex !important;
  align-items: center; }
  .box-slider ul.slick-dots li {
    margin: 0 12px; }
  .box-slider ul.slick-dots li button {
    display: block;
    border: none;
    text-indent: -9999em;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgba(173, 189, 155, 0.8);
    cursor: pointer;
    position: relative; }
  .box-slider ul.slick-dots li.slick-active button {
    width: 20px;
    height: 20px; }
    .box-slider ul.slick-dots li.slick-active button:before {
      content: "";
      width: 14px;
      height: 14px;
      display: block;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.box-slider .slick-active img {
  animation: imageAnimation 9s linear; }

.box-slider article {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/mas.png") repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; }

.box-slider h4 {
  display: block;
  margin-bottom: 12px;
  font: 30px NanumSquareB;
  line-height: 30px;
  letter-spacing: -1.5px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -50px);
  transition: all 0.3s linear 0s; }

.box-slider h2 {
  display: block;
  margin-bottom: 47px;
  font: 80px OSHE_B;
  text-align: center;
  letter-spacing: -3.2px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -50px);
  transition: all 0.3s linear 0s; }

.box-slider a.link-slide {
  width: 250px;
  height: 50px;
  display: block;
  background: #004363;
  border-radius: 4px;
  font: 20px NanumBarunGothic;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: scale(0); }
  .box-slider a.link-slide:hover {
    background: #02293c; }

.box-slider a.link-slide span {
  display: block;
  color: #fff;
  line-height: 50px;
  text-align: center; }

.box-slider .slider .item2 h4 {
  transform: translate(-90px, 0); }

.box-slider .slider .item2 h2 {
  transform: translate(90px, 0); }

.box-slider .slider .item3 h4 {
  transform: translate(0, -60px); }

.box-slider .slider .item3 h2 {
  transform: translate(0, 60px); }

.box-slider .slider .item4 h4 {
  transform: translate(0, 0) scale(0) rotate(0deg); }

.box-slider .slider .item4 h2 {
  transform: translate(0, 0) scale(0); }

.box-slider .slick-active h4 {
  transform: translate(0, 0) !important;
  transition: all 1s linear 0s !important; }

.box-slider .slick-active h2 {
  transform: translate(0, 0) !important;
  transition: all 0.6s linear 0.4s !important; }

.box-slider .slick-active a {
  transform: scale(1);
  transition: all 0.4s linear 0.8s; }

.box-slider .slick-active h4, .box-slider .slick-active h2, .box-slider .slick-active a.link-slide {
  opacity: 1;
  visibility: visible; }

.box-slider .slider .item4.slick-active h4 {
  transform: translate(0, 0) scale(1) rotate(360deg) !important; }

.box-slider .slider .item4.slick-active h2 {
  transform: translate(0, 0) scale(1) !important; }

.header {
  display: flex;
  margin-bottom: 45px;
  min-height: 159px;
  background: #f2f2f2;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3d3d3d;
  border-top: 2px solid #e5e5e5; }
  .header h2 {
    display: block;
    margin-bottom: 14px;
    font: 40px NanumSquareB; }
  .header p {
    display: block;
    margin-bottom: 0;
    font: 14px NanumBarunGothic; }

.box-map {
  margin-bottom: 70px; }

.map {
  width: 63.2%; }
  .map iframe {
    min-height: 745px;
    width: 100%; }

.list-place {
  width: 35%;
  padding-left: 35px; }
  .list-place form {
    display: block;
    margin-bottom: 10px; }
    .list-place form input {
      width: 100%;
      height: 45px;
      padding: 0 5px;
      border-radius: 4px;
      border: 1px solid #e5e5e5; }
    .list-place form .button_search {
      border: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      background: none;
      color: #999999;
      font-size: 16px; }
  .list-place article {
    display: flex;
    padding: 26px 0;
    border-top: 1px solid #e5e5e5; }
    .list-place article .content {
      width: 63.7%;
      padding-left: 30px; }
    .list-place article p {
      display: block;
      margin-bottom: 0;
      padding-bottom: 8px;
      border-bottom: 1px solid #e5e5e5;
      font: 14px NanumBarunGothic;
      color: #999999; }
    .list-place article p i {
      color: #2e99ef; }
  .list-place a.thumb {
    width: 36.4%;
    height: 90px;
    display: block; }
    .list-place a.thumb img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .list-place h3 a {
    display: block;
    margin-bottom: 10px;
    font: 16px NanumBarunGothic;
    color: #000; }
  .list-place span.author {
    display: flex;
    margin-top: 9px;
    align-items: center;
    color: #222222;
    font: 13px NanumBarunGothic; }
    .list-place span.author i {
      width: 26px;
      height: 26px;
      display: block;
      margin-right: 7px;
      background: #f2f2f2;
      border-radius: 540%;
      border: 1px solid #e6e6e6;
      color: #999999;
      text-align: center;
      line-height: 24px; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-top: 2px solid #eeeeee; }
  .pagination .next_all, .pagination .next, .pagination .prev_all, .pagination .prev {
    height: 44px;
    display: block; }
  .pagination .next_all, .pagination .prev_all {
    width: 36px;
    background: url("../images/pagination.png") no-repeat 0 0; }
  .pagination .next, .pagination .prev {
    width: 31px;
    background: url("../images/pagination.png") no-repeat -36px 0; }
  .pagination .prev_all, .pagination .prev {
    transform: rotate(180deg); }
  .pagination li a.page {
    width: 50px;
    height: 36px;
    display: block;
    text-align: center;
    font: 18px NanumSquareB;
    color: #222;
    line-height: 36px; }

.box-profile {
  width: 100%;
  background: #f2f2f2;
  padding: 40px 0; }
  .box-profile .profile {
    width: 265px;
    background: #fff;
    padding: 20px 0;
    border-radius: 5px; }
  .box-profile a.setting {
    width: 35px;
    height: 31px;
    display: block;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 20px;
    right: 20px; }
    .box-profile a.setting i {
      display: block;
      text-align: center;
      line-height: 29px;
      color: #999999; }
  .box-profile .avatar {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .box-profile .avatar-img {
      width: 85px;
      height: 85px; }
      .box-profile .avatar-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%; }
    .box-profile .avatar-edit {
      width: 30px;
      height: 30px;
      background: rgba(208, 205, 201, 0.8);
      border-radius: 50%;
      position: absolute;
      top: 55px;
      right: -12px; }
      .box-profile .avatar-edit i {
        display: block;
        font-size: 12px;
        color: #000;
        text-align: center;
        line-height: 30px; }
    .box-profile .avatar-name {
      font: 16px NanumBarunGothic;
      margin-top: 12px; }
    .box-profile .avatar .enterprise {
      margin-top: 12px;
      height: 23px;
      background: #8559cd;
      border-radius: 4px;
      color: #fff;
      padding: 0 10px;
      line-height: 23px; }
  .box-profile .list-contact {
    display: flex;
    margin: 35px 0 0 0;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee; }
    .box-profile .list-contact li {
      margin: 0 2px; }
    .box-profile .list-contact li a {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #e5e5e5;
      border-radius: 4px; }
    .box-profile .list-contact li i {
      color: #999; }
  .box-profile .storage {
    display: block;
    padding: 20px 20px;
    border-bottom: 1px solid #EEEEEE; }
    .box-profile .storage .head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px; }
      .box-profile .storage .head p {
        margin: 0;
        color: #777777;
        padding-right: 20px; }
      .box-profile .storage .head .add {
        width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        background: #3cb46e;
        color: #fff;
        border-radius: 5px;
        position: absolute;
        right: 0;
        top: 2px; }
    .box-profile .storage h4 {
      font: 16px NanumBarunGothic; }
    .box-profile .storage .process {
      width: 100%;
      height: 6px;
      background: #f2f2f2; }
      .box-profile .storage .process-current {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #3cb46e; }
  .box-profile .list-other {
    padding: 20px 20px 0 20px;
    margin: 0; }
    .box-profile .list-other li {
      display: flex;
      padding: 9px 0;
      align-items: center;
      position: relative; }
      .box-profile .list-other li i.icon img {
        max-width: 15px; }
      .box-profile .list-other li i {
        font-size: 15px;
        margin-right: 12px; }
      .box-profile .list-other li p {
        margin: 0; }
      .box-profile .list-other li span {
        width: 28px;
        height: 28px;
        border: 1px solid #d04543;
        color: #d04543;
        text-align: center;
        line-height: 26px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0; }
  .box-profile .news-profile {
    display: block;
    width: 915px;
    padding: 30px;
    margin-left: 20px;
    background: #fff;
    border-radius: 5px; }
    .box-profile .news-profile .head {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid #eeeeee; }
      .box-profile .news-profile .head h4 {
        font: 18px NanumBarunGothic; }
    .box-profile .news-profile .filter {
      display: flex; }
      .box-profile .news-profile .filter input {
        width: 170px;
        height: 35px;
        margin-right: 5px;
        padding: 0 5px;
        border-radius: 4px;
        border: 1px solid #e5e5e5; }
      .box-profile .news-profile .filter .button_filter {
        background: none;
        border: 1px solid #e5e5e5;
        padding: 0 5px;
        border-radius: 4px; }
    .box-profile .news-profile .list-news-profile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .box-profile .news-profile .thumb {
      width: 100%;
      height: 185px;
      overflow: hidden;
      border-radius: 5px 5px 0 0;
      position: relative; }
      .box-profile .news-profile .thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 3s; }
      .box-profile .news-profile .thumb .hover {
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px; }
        .box-profile .news-profile .thumb .hover-inner {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border: 1px solid #c9a28c; }
      .box-profile .news-profile .thumb h2 {
        transition: all 0.3s linear 0s;
        transform: scale(0);
        opacity: 0;
        visibility: hidden; }
      .box-profile .news-profile .thumb h2 a {
        color: #fcc452;
        text-transform: uppercase; }
      .box-profile .news-profile .thumb:hover img {
        transform: scale(1.1); }
      .box-profile .news-profile .thumb:hover .hover {
        opacity: 1;
        visibility: visible; }
      .box-profile .news-profile .thumb:hover h2 {
        transform: scale(1);
        transition: all 0.5s linear 0s !important;
        opacity: 1;
        visibility: visible; }
    .box-profile .news-profile .content {
      padding: 0 20px; }
      .box-profile .news-profile .content h3 a {
        font: 16px NanumBarunGothic;
        color: #222; }
      .box-profile .news-profile .content p {
        display: block;
        margin-bottom: 0;
        color: #bbbbbb; }
    .box-profile .news-profile .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 86%;
      margin: 10px auto 0;
      padding: 10px 0;
      border-top: 1px solid #eee; }
      .box-profile .news-profile .bottom .statistic {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #888888; }
        .box-profile .news-profile .bottom .statistic p {
          margin: 0 12px 0 0; }
        .box-profile .news-profile .bottom .statistic i {
          margin-right: 5px; }
        .box-profile .news-profile .bottom .statistic .love i {
          color: #ff7777; }
        .box-profile .news-profile .bottom .statistic .view i {
          color: #888888; }
      .box-profile .news-profile .bottom .action {
        display: flex; }
        .box-profile .news-profile .bottom .action a {
          width: 38px;
          height: 32px;
          display: flex;
          margin-left: 2px;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          border: 1px solid #e5e5e5; }
        .box-profile .news-profile .bottom .action i {
          color: #222;
          font-size: 16px; }
    .box-profile .news-profile article {
      max-width: 273px;
      margin: 10px 0;
      border: 1px solid #eee;
      border-radius: 5px 5px 0 0; }

/*end*/
/*footer*/
footer {
  display: flex;
  align-items: center;
  min-height: 124px;
  background: #fff;
  border-top: 1px solid #e5e5e5; }
  footer a.logof {
    width: 145px;
    height: 37px;
    display: block;
    background: url("../images/logof.png") no-repeat; }
  footer .img_logo {
    display: flex;
    align-items: center; }
    footer .img_logo a {
      display: block;
      margin: 0 5px; }
  footer .row {
    align-items: center; }
  footer .col3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  footer .box-select {
    margin-right: 15px; }
    footer .box-select select {
      height: 30px;
      width: 180px;
      border: 1px solid #7e9db9; }
    footer .box-select .button_select {
      width: 46px;
      height: 30px;
      margin-left: -4px;
      background: #666666;
      border: 1px solid #666666;
      color: #fff;
      text-align: center;
      line-height: 30px; }
  footer .menu-footer {
    display: flex;
    flex-wrap: wrap; }
    footer .menu-footer a {
      display: flex;
      align-items: center;
      color: #222;
      padding-right: 10px; }
    footer .menu-footer a:after {
      content: "";
      width: 1px;
      margin-left: 10px;
      height: 10px;
      display: block;
      background: #d4d1ce; }
    footer .menu-footer li:first-child a {
      padding-left: 0; }
  footer .col2 {
    padding: 0 20px; }
  footer p.copy {
    font-size: 13px;
    color: #666; }
  footer p {
    margin-bottom: 5px;
    font-size: 13px; }

/*end*/
@media (max-width: 1366px) {
  .box-slider h2 {
    font-size: 60px;
    margin-bottom: 37px; }
  .box-slider h4 {
    font-size: 26px; }
  .box-slider a.link-slide {
    width: 220px;
    height: 45px; }
    .box-slider a.link-slide span {
      line-height: 45px; } }

@media (max-width: 480px) {
  .box-slider h2 {
    font-size: 38px;
    margin-bottom: 25px; }
  .box-slider h4 {
    font-size: 20px;
    margin-bottom: 10px; }
  .box-slider a.link-slide {
    width: 180px;
    height: 40px; }
    .box-slider a.link-slide span {
      line-height: 40px; } }

@media (min-width: 375px) {
  .box-slider img {
    min-height: 500px; } }

@media (min-width: 320px) and (max-width: 768px) {
  .map {
    width: 100%; }
  .row {
    margin: 0; }
  .list-place {
    width: 100%;
    margin-top: 25px;
    padding-left: 0; }
  .header {
    min-height: 100px;
    margin-bottom: 25px; }
    .header h2 {
      font-size: 30px; }
    .header p {
      font-size: 12px; }
  .pagination li a.page {
    width: 40px; }
  .box-profile .profile {
    width: 100%; }
  .box-profile .news-profile {
    width: 100%;
    margin: 15px 0 0 0; }
    .box-profile .news-profile .list-news-profile {
      justify-content: space-around; }
  footer {
    padding: 15px 0; }
    footer .col2 {
      padding: 15px 0; }
    footer .col3 {
      flex-direction: column-reverse;
      align-items: flex-start; }
    footer .box-select {
      margin-top: 10px; }
    footer .menu-footer li a {
      margin-bottom: 5px; }
    footer a.logof {
      margin-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .box-slider img {
    min-height: 700px; }
  footer {
    padding: 15px 0; }
    footer .col2 {
      padding: 15px 0; }
    footer .col1, footer .col2, footer .col3 {
      width: 100%; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  .navbar-nav {
    margin-left: 60px; }
  .box-profile .row {
    justify-content: space-between; }
  .box-profile .profile {
    width: 25%; }
  .box-profile .news-profile {
    width: 73%;
    margin: 0; }
    .box-profile .news-profile .list-news-profile {
      justify-content: space-around; }
  .search {
    display: block;
    width: auto;
    height: auto;
    position: relative; }
    .search input {
      width: 300px;
      height: 40px;
      padding: 0 37px 0 5px;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #c3c3c3;
      color: #c3c3c3; }
    .search .button_search {
      width: 32px;
      height: 17px;
      display: block;
      background: url("../images/icon_search.png") no-repeat;
      border: none;
      position: absolute;
      right: 0;
      top: 50%;
      transition: .5s;
      transform: translateY(-50%);
      cursor: pointer; }
      .search .button_search:hover {
        filter: saturate(2); }
    .search i.form_close {
      display: none; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; }
  .navbar-collapse {
    width: auto;
    position: relative;
    top: 0; }
  .navbar {
    height: 100%;
    align-items: center; }
  .navbar-nav {
    margin-left: 220px; }
    .navbar-nav .nav-link {
      font-size: 18px; }
    .navbar-nav li {
      margin: 0 26px; }
  .header-bottom {
    height: 78px; }
  .logo a {
    background: url("../images/logo.png") no-repeat; }
  .search {
    display: block;
    width: auto;
    height: auto;
    position: relative; }
    .search input {
      width: 300px;
      height: 40px;
      padding: 0 37px 0 5px;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #c3c3c3;
      color: #c3c3c3; }
    .search .button_search {
      width: 32px;
      height: 17px;
      display: block;
      background: url("../images/icon_search.png") no-repeat;
      border: none;
      position: absolute;
      right: 0;
      top: 50%;
      transition: .5s;
      transform: translateY(-50%);
      cursor: pointer; }
      .search .button_search:hover {
        filter: saturate(2); }
    .search i.form_close {
      display: none; }
  .icon_search {
    display: none; } }

/*slick js*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*end*/
@keyframes imageAnimation {
  0% {
    opacity: 1; }
  10% {
    transform: scale(1.05); }
  60% {
    transform: scale(1.2); }
  90% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.imageAnimation {
  -webkit-animation-name: imageAnimation;
  animation-name: imageAnimation; }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX; }

@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.flipOutX {
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }
